In [4]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\91890\anaconda3\lib\site-packages (0.0.1)

WARNING: You are using pip version 20.3.3; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\users\91890\anaconda3\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: beautifulsoup4 in c:\users\91890\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\91890\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\91890\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\91890\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\91890\anaconda3\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\91890\anaconda3\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\91890\anaconda3\lib\site-packages (from requests) (2020.6.20)

WARNING: You are using pip version 20.3.3; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\users\91890\anaconda3\python.exe -m pip install --upgrade pip' command.

# 1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [5]:
#importing required libraries
from bs4 import BeautifulSoup
import requests

#source code is stored in page
page1=requests.get("https://en.wikipedia.org/wiki/Main_Page")
page1

In [6]:
#creating soup and header names
soup1=BeautifulSoup(page1.content)

heading_tags = ["h1", "h2", "h3"]
for tags in soup1.find_all(heading_tags):
    print(tags.name + ' -> ' + tags.text.strip())

h1 -> Main Page
h2 -> From today's featured article
h2 -> Did you know ...
h2 -> In the news
h2 -> On this day
h2 -> Today's featured picture
h2 -> Other areas of Wikipedia
h2 -> Wikipedia's sister projects
h2 -> Wikipedia languages
h2 -> Navigation menu
h3 -> Personal tools
h3 -> Namespaces
h3 -> Variants
h3 -> Views
h3 -> More
h3 -> Search
h3 -> Navigation
h3 -> Contribute
h3 -> Tools
h3 -> Print/export
h3 -> In other projects
h3 -> Languages

# 2.python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame

In [7]:
#importing required libraries
from bs4 import BeautifulSoup
import requests

#source code is stored in page
page2=requests.get("http://www.imdb.com/chart/top")
page2

soup2=BeautifulSoup(page2.content)

In [8]:
#retrieving movies data
#method1
movies= soup2.findAll('td', {'class': 'titleColumn'})
movies

#method2
movies=soup2.select('td.titleColumn')
movies

#iterating to the list and appending it
movie_titles=[]
for i in movies:
    movie_titles.append(i.text.strip("\n"))
movie_titles

['      1.\n      The Shawshank Redemption\n(1994)',
 '      2.\n      The Godfather\n(1972)',
 '      3.\n      The Godfather: Part II\n(1974)',
 '      4.\n      The Dark Knight\n(2008)',
 '      5.\n      12 Angry Men\n(1957)',
 "      6.\n      Schindler's List\n(1993)",
 '      7.\n      The Lord of the Rings: The Return of the King\n(2003)',
 '      8.\n      Pulp Fiction\n(1994)',
 '      9.\n      Il buono, il brutto, il cattivo\n(1966)',
 '      10.\n      The Lord of the Rings: The Fellowship of the Ring\n(2001)',
 '      11.\n      Fight Club\n(1999)',
 '      12.\n      Forrest Gump\n(1994)',
 '      13.\n      Inception\n(2010)',
 '      14.\n      The Lord of the Rings: The Two Towers\n(2002)',
 '      15.\n      Star Wars: Episode V - The Empire Strikes Back\n(1980)',
 '      16.\n      The Matrix\n(1999)',
 '      17.\n      Goodfellas\n(1990)',
 "      18.\n      One Flew Over the Cuckoo's Nest\n(1975)",
 '      19.\n      Shichinin no samurai\n(1954)',
 '      20.\n      Se7en\n(1995)',
 '      21.\n      The Silence of the Lambs\n(1991)',
 '      22.\n      Cidade de Deus\n(2002)',
 "      23.\n      It's a Wonderful Life\n(1946)",
 '      24.\n      La vita è bella\n(1997)',
 '      25.\n      Star Wars\n(1977)',
 '      26.\n      Saving Private Ryan\n(1998)',
 '      27.\n      Sen to Chihiro no kamikakushi\n(2001)',
 '      28.\n      Interstellar\n(2014)',
 '      29.\n      The Green Mile\n(1999)',
 '      30.\n      Gisaengchung\n(2019)',
 '      31.\n      Léon\n(1994)',
 '      32.\n      Seppuku\n(1962)',
 '      33.\n      The Usual Suspects\n(1995)',
 '      34.\n      The Pianist\n(2002)',
 '      35.\n      Back to the Future\n(1985)',
 '      36.\n      Terminator 2: Judgment Day\n(1991)',
 '      37.\n      Psycho\n(1960)',
 '      38.\n      Modern Times\n(1936)',
 '      39.\n      The Lion King\n(1994)',
 '      40.\n      American History X\n(1998)',
 '      41.\n      City Lights\n(1931)',
 '      42.\n      Gladiator\n(2000)',
 '      43.\n      Whiplash\n(2014)',
 '      44.\n      The Departed\n(2006)',
 '      45.\n      Hotaru no haka\n(1988)',
 '      46.\n      The Intouchables\n(2011)',
 '      47.\n      The Prestige\n(2006)',
 '      48.\n      Casablanca\n(1942)',
 '      49.\n      Once Upon a Time in the West\n(1968)',
 '      50.\n      Rear Window\n(1954)',
 '      51.\n      Nuovo Cinema Paradiso\n(1988)',
 '      52.\n      Alien\n(1979)',
 '      53.\n      Apocalypse Now\n(1979)',
 '      54.\n      Memento\n(2000)',
 '      55.\n      Raiders of the Lost Ark\n(1981)',
 '      56.\n      The Great Dictator\n(1940)',
 '      57.\n      The Lives of Others\n(2006)',
 '      58.\n      Django Unchained\n(2012)',
 '      59.\n      Paths of Glory\n(1957)',
 '      60.\n      Sunset Blvd.\n(1950)',
 '      61.\n      WALL·E\n(2008)',
 '      62.\n      The Shining\n(1980)',
 '      63.\n      Witness for the Prosecution\n(1957)',
 '      64.\n      Avengers: Infinity War\n(2018)',
 '      65.\n      Joker\n(2019)',
 '      66.\n      Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb\n(1964)',
 '      67.\n      Spider-Man: Into the Spider-Verse\n(2018)',
 '      68.\n      Oldeuboi\n(2003)',
 '      69.\n      Mononoke-hime\n(1997)',
 '      70.\n      Hamilton\n(2020)',
 '      71.\n      Kimi no na wa.\n(2016)',
 '      72.\n      Once Upon a Time in America\n(1984)',
 '      73.\n      The Dark Knight Rises\n(2012)',
 '      74.\n      Aliens\n(1986)',
 '      75.\n      Coco\n(2017)',
 '      76.\n      Pather Panchali\n(1955)',
 '      77.\n      Das Boot\n(1981)',
 '      78.\n      Capharnaüm\n(2018)',
 '      79.\n      Avengers: Endgame\n(2019)',
 '      80.\n      Tengoku to jigoku\n(1963)',
 '      81.\n      American Beauty\n(1999)',
 '      82.\n      Toy Story\n(1995)',
 '      83.\n      Braveheart\n(1995)',
 '      84.\n      Amadeus\n(1984)',
 '      85.\n      3 Idiots\n(2009)',
 '      86.\n      Inglourious Basterds\n(2009)',
 '      87.\n      Good Will Hunting\n(1997)',
 '      88.\n      Star Wars: Episode VI - Return of the Jedi\n(1983)',
 '      89.\n      2001: A Space Odyssey\n(1968)',
 '      90.\n      Reservoir Dogs\n(1992)',
 '      91.\n      M - Eine Stadt sucht einen Mörder\n(1931)',
 '      92.\n      Taare Zameen Par\n(2007)',
 '      93.\n      Citizen Kane\n(1941)',
 '      94.\n      Vertigo\n(1958)',
 '      95.\n      Requiem for a Dream\n(2000)',
 '      96.\n      Jagten\n(2012)',
 '      97.\n      Idi i smotri\n(1985)',
 "      98.\n      Singin' in the Rain\n(1952)",
 '      99.\n      North by Northwest\n(1959)',
 '      100.\n      Eternal Sunshine of the Spotless Mind\n(2004)',
 '      101.\n      Ladri di biciclette\n(1948)',
 '      102.\n      Ikiru\n(1952)',
 '      103.\n      Lawrence of Arabia\n(1962)',
 '      104.\n      The Kid\n(1921)',
 '      105.\n      The Father\n(2020)',
 '      106.\n      Full Metal Jacket\n(1987)',
 '      107.\n      Dangal\n(2016)',
 '      108.\n      A Clockwork Orange\n(1971)',
 '      109.\n      Taxi Driver\n(1976)',
 '      110.\n      Metropolis\n(1927)',
 '      111.\n      The Sting\n(1973)',
 '      112.\n      Double Indemnity\n(1944)',
 '      113.\n      1917\n(2019)',
 '      114.\n      The Apartment\n(1960)',
 '      115.\n      Jodaeiye Nader az Simin\n(2011)',
 "      116.\n      Le fabuleux destin d'Amélie Poulain\n(2001)",
 '      117.\n      Incendies\n(2010)',
 '      118.\n      Snatch\n(2000)',
 '      119.\n      Scarface\n(1983)',
 '      120.\n      Toy Story 3\n(2010)',
 '      121.\n      To Kill a Mockingbird\n(1962)',
 '      122.\n      Per qualche dollaro in più\n(1965)',
 '      123.\n      Up\n(2009)',
 '      124.\n      Indiana Jones and the Last Crusade\n(1989)',
 '      125.\n      L.A. Confidential\n(1997)',
 '      126.\n      Heat\n(1995)',
 '      127.\n      Rashomon\n(1950)',
 '      128.\n      Yojinbo\n(1961)',
 '      129.\n      Ran\n(1985)',
 '      130.\n      Die Hard\n(1988)',
 '      131.\n      Monty Python and the Holy Grail\n(1975)',
 '      132.\n      Green Book\n(2018)',
 '      133.\n      Der Untergang\n(2004)',
 '      134.\n      Batman Begins\n(2005)',
 '      135.\n      Some Like It Hot\n(1959)',
 '      136.\n      All About Eve\n(1950)',
 '      137.\n      Unforgiven\n(1992)',
 '      138.\n      Bacheha-Ye aseman\n(1997)',
 '      139.\n      Hauru no ugoku shiro\n(2004)',
 '      140.\n      The Wolf of Wall Street\n(2013)',
 '      141.\n      The Great Escape\n(1963)',
 '      142.\n      Judgment at Nuremberg\n(1961)',
 '      143.\n      Casino\n(1995)',
 '      144.\n      The Treasure of the Sierra Madre\n(1948)',
 "      145.\n      Pan's Labyrinth\n(2006)",
 '      146.\n      There Will Be Blood\n(2007)',
 '      147.\n      A Beautiful Mind\n(2001)',
 '      148.\n      El secreto de sus ojos\n(2009)',
 '      149.\n      Raging Bull\n(1980)',
 '      150.\n      Tonari no Totoro\n(1988)',
 '      151.\n      Chinatown\n(1974)',
 '      152.\n      Lock, Stock and Two Smoking Barrels\n(1998)',
 '      153.\n      The Gold Rush\n(1925)',
 '      154.\n      Three Billboards Outside Ebbing, Missouri\n(2017)',
 '      155.\n      Dial M for Murder\n(1954)',
 '      156.\n      No Country for Old Men\n(2007)',
 '      157.\n      Shutter Island\n(2010)',
 '      158.\n      Det sjunde inseglet\n(1957)',
 '      159.\n      The Elephant Man\n(1980)',
 '      160.\n      The Thing\n(1982)',
 '      161.\n      The Sixth Sense\n(1999)',
 '      162.\n      Klaus\n(2019)',
 '      163.\n      Inside Out\n(2015)',
 '      164.\n      V for Vendetta\n(2005)',
 '      165.\n      The Third Man\n(1949)',
 '      166.\n      Blade Runner\n(1982)',
 '      167.\n      Smultronstället\n(1957)',
 '      168.\n      The Bridge on the River Kwai\n(1957)',
 '      169.\n      Trainspotting\n(1996)',
 '      170.\n      Babam ve Oglum\n(2005)',
 '      171.\n      The Truman Show\n(1998)',
 '      172.\n      Jurassic Park\n(1993)',
 '      173.\n      Warrior\n(2011)',
 '      174.\n      Fargo\n(1996)',
 '      175.\n      Salinui chueok\n(2003)',
 '      176.\n      Finding Nemo\n(2003)',
 '      177.\n      Gone with the Wind\n(1939)',
 '      178.\n      Kill Bill: Vol. 1\n(2003)',
 '      179.\n      Tôkyô monogatari\n(1953)',
 '      180.\n      On the Waterfront\n(1954)',
 '      181.\n      Stalker\n(1979)',
 '      182.\n      The General\n(1926)',
 '      183.\n      The Deer Hunter\n(1978)',
 '      184.\n      Relatos salvajes\n(2014)',
 '      185.\n      Gran Torino\n(2008)',
 '      186.\n      Sherlock Jr.\n(1924)',
 '      187.\n      Room\n(2015)',
 '      188.\n      The Grand Budapest Hotel\n(2014)',
 '      189.\n      Before Sunrise\n(1995)',
 '      190.\n      Persona\n(1966)',
 '      191.\n      Mary and Max\n(2009)',
 '      192.\n      In the Name of the Father\n(1993)',
 '      193.\n      Prisoners\n(2013)',
 '      194.\n      Mr. Smith Goes to Washington\n(1939)',
 '      195.\n      Gone Girl\n(2014)',
 '      196.\n      Catch Me If You Can\n(2002)',
 '      197.\n      To Be or Not to Be\n(1942)',
 '      198.\n      Hacksaw Ridge\n(2016)',
 '      199.\n      Andhadhun\n(2018)',
 '      200.\n      Barry Lyndon\n(1975)',
 '      201.\n      The Big Lebowski\n(1998)',
 '      202.\n      Ford v Ferrari\n(2019)',
 '      203.\n      12 Years a Slave\n(2013)',
 "      204.\n      La passion de Jeanne d'Arc\n(1928)",
 '      205.\n      How to Train Your Dragon\n(2010)',
 '      206.\n      Mad Max: Fury Road\n(2015)',
 '      207.\n      Le salaire de la peur\n(1953)',
 '      208.\n      Ben-Hur\n(1959)',
 '      209.\n      Million Dollar Baby\n(2004)',
 '      210.\n      Dead Poets Society\n(1989)',
 '      211.\n      Network\n(1976)',
 '      212.\n      Stand by Me\n(1986)',
 '      213.\n      Harry Potter and the Deathly Hallows: Part 2\n(2011)',
 '      214.\n      Höstsonaten\n(1978)',
 '      215.\n      Cool Hand Luke\n(1967)',
 '      216.\n      Les quatre cents coups\n(1959)',
 '      217.\n      Ah-ga-ssi\n(2016)',
 '      218.\n      Eskiya\n(1996)',
 '      219.\n      Logan\n(2017)',
 '      220.\n      Platoon\n(1986)',
 "      221.\n      Hachi: A Dog's Tale\n(2009)",
 '      222.\n      La haine\n(1995)',
 '      223.\n      Life of Brian\n(1979)',
 '      224.\n      Spotlight\n(2015)',
 '      225.\n      Hotel Rwanda\n(2004)',
 '      226.\n      Into the Wild\n(2007)',
 '      227.\n      Rush\n(2013)',
 '      228.\n      Rebecca\n(1940)',
 '      229.\n      Andrei Rublev\n(1966)',
 '      230.\n      Monsters, Inc.\n(2001)',
 '      231.\n      Amores perros\n(2000)',
 '      232.\n      Drishyam 2\n(2021)',
 '      233.\n      Rocky\n(1976)',
 '      234.\n      Gangs of Wasseypur\n(2012)',
 '      235.\n      Ratsasan\n(2018)',
 '      236.\n      Koe no katachi\n(2016)',
 '      237.\n      Fa yeung nin wah\n(2000)',
 '      238.\n      Kaze no tani no Naushika\n(1984)',
 '      239.\n      It Happened One Night\n(1934)',
 '      240.\n      La battaglia di Algeri\n(1966)',
 '      241.\n      Before Sunset\n(2004)',
 '      242.\n      Du rififi chez les hommes\n(1955)',
 '      243.\n      Soul\n(2020)',
 '      244.\n      The Princess Bride\n(1987)',
 '      245.\n      Fanny och Alexander\n(1982)',
 '      246.\n      Trois couleurs: Rouge\n(1994)',
 '      247.\n      Drishyam\n(2013)',
 '      248.\n      Sunrise: A Song of Two Humans\n(1927)',
 '      249.\n      Shin seiki Evangelion Gekijô-ban: Air/Magokoro wo, kimi ni\n(1997)',
 '      250.\n      Miracle in Cell No. 7\n(2019)']

In [9]:
year = soup2.findAll("span",{"class":"secondaryInfo"})
year

#iterating to the list and appending it
year_titles=[]
for i in year:
    year_titles.append(i.text.strip())
year_titles

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(2010)',
 '(2002)',
 '(1980)',
 '(1999)',
 '(1990)',
 '(1975)',
 '(1954)',
 '(1995)',
 '(1991)',
 '(2002)',
 '(1946)',
 '(1997)',
 '(1977)',
 '(1998)',
 '(2001)',
 '(2014)',
 '(1999)',
 '(2019)',
 '(1994)',
 '(1962)',
 '(1995)',
 '(2002)',
 '(1985)',
 '(1991)',
 '(1960)',
 '(1936)',
 '(1994)',
 '(1998)',
 '(1931)',
 '(2000)',
 '(2014)',
 '(2006)',
 '(1988)',
 '(2011)',
 '(2006)',
 '(1942)',
 '(1968)',
 '(1954)',
 '(1988)',
 '(1979)',
 '(1979)',
 '(2000)',
 '(1981)',
 '(1940)',
 '(2006)',
 '(2012)',
 '(1957)',
 '(1950)',
 '(2008)',
 '(1980)',
 '(1957)',
 '(2018)',
 '(2019)',
 '(1964)',
 '(2018)',
 '(2003)',
 '(1997)',
 '(2020)',
 '(2016)',
 '(1984)',
 '(2012)',
 '(1986)',
 '(2017)',
 '(1955)',
 '(1981)',
 '(2018)',
 '(2019)',
 '(1963)',
 '(1999)',
 '(1995)',
 '(1995)',
 '(1984)',
 '(2009)',
 '(2009)',
 '(1997)',
 '(1983)',
 '(1968)',
 '(1992)',
 '(1931)',
 '(2007)',
 '(1941)',
 '(1958)',
 '(2000)',
 '(2012)',
 '(1985)',
 '(1952)',
 '(1959)',
 '(2004)',
 '(1948)',
 '(1952)',
 '(1962)',
 '(1921)',
 '(2020)',
 '(1987)',
 '(2016)',
 '(1971)',
 '(1976)',
 '(1927)',
 '(1973)',
 '(1944)',
 '(2019)',
 '(1960)',
 '(2011)',
 '(2001)',
 '(2010)',
 '(2000)',
 '(1983)',
 '(2010)',
 '(1962)',
 '(1965)',
 '(2009)',
 '(1989)',
 '(1997)',
 '(1995)',
 '(1950)',
 '(1961)',
 '(1985)',
 '(1988)',
 '(1975)',
 '(2018)',
 '(2004)',
 '(2005)',
 '(1959)',
 '(1950)',
 '(1992)',
 '(1997)',
 '(2004)',
 '(2013)',
 '(1963)',
 '(1961)',
 '(1995)',
 '(1948)',
 '(2006)',
 '(2007)',
 '(2001)',
 '(2009)',
 '(1980)',
 '(1988)',
 '(1974)',
 '(1998)',
 '(1925)',
 '(2017)',
 '(1954)',
 '(2007)',
 '(2010)',
 '(1957)',
 '(1980)',
 '(1982)',
 '(1999)',
 '(2019)',
 '(2015)',
 '(2005)',
 '(1949)',
 '(1982)',
 '(1957)',
 '(1957)',
 '(1996)',
 '(2005)',
 '(1998)',
 '(1993)',
 '(2011)',
 '(1996)',
 '(2003)',
 '(2003)',
 '(1939)',
 '(2003)',
 '(1953)',
 '(1954)',
 '(1979)',
 '(1926)',
 '(1978)',
 '(2014)',
 '(2008)',
 '(1924)',
 '(2015)',
 '(2014)',
 '(1995)',
 '(1966)',
 '(2009)',
 '(1993)',
 '(2013)',
 '(1939)',
 '(2014)',
 '(2002)',
 '(1942)',
 '(2016)',
 '(2018)',
 '(1975)',
 '(1998)',
 '(2019)',
 '(2013)',
 '(1928)',
 '(2010)',
 '(2015)',
 '(1953)',
 '(1959)',
 '(2004)',
 '(1989)',
 '(1976)',
 '(1986)',
 '(2011)',
 '(1978)',
 '(1967)',
 '(1959)',
 '(2016)',
 '(1996)',
 '(2017)',
 '(1986)',
 '(2009)',
 '(1995)',
 '(1979)',
 '(2015)',
 '(2004)',
 '(2007)',
 '(2013)',
 '(1940)',
 '(1966)',
 '(2001)',
 '(2000)',
 '(2021)',
 '(1976)',
 '(2012)',
 '(2018)',
 '(2016)',
 '(2000)',
 '(1984)',
 '(1934)',
 '(1966)',
 '(2004)',
 '(1955)',
 '(2020)',
 '(1987)',
 '(1982)',
 '(1994)',
 '(2013)',
 '(1927)',
 '(1997)',
 '(2019)']

In [23]:

#rating
rating= soup2.findAll('td', {'class': 'ratingColumn imdbRating'})
rating

#iterating to the list and appending it
rating_titles=[]
for i in rating:
    rating_titles.append(i.text.strip('\n'))
rating_titles

['9.2',
 '9.1',
 '9.0',
 '9.0',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0']

In [24]:
import pandas as pd
imbd=pd.DataFrame({})
imbd['title']=movie_titles
imbd['year']=year_titles
imbd['rating']=rating_titles
imbd

                                                 title    year rating
0           1.\n      The Shawshank Redemption\n(1994)  (1994)    9.2
1                      2.\n      The Godfather\n(1972)  (1972)    9.1
2             3.\n      The Godfather: Part II\n(1974)  (1974)    9.0
3                    4.\n      The Dark Knight\n(2008)  (2008)    9.0
4                       5.\n      12 Angry Men\n(1957)  (1957)    8.9
..                                                 ...     ...    ...
245          246.\n      Trois couleurs: Rouge\n(1994)  (1994)    8.0
246                       247.\n      Drishyam\n(2013)  (2013)    8.0
247        248.\n      Sunrise: A Song of Two Human...  (1927)    8.0
248        249.\n      Shin seiki Evangelion Gekijô...  (1997)    8.0
249          250.\n      Miracle in Cell No. 7\n(2019)  (2019)    8.0

[250 rows x 3 columns]

    3. Same as the answer 2

# 4. program to scrap book name, author name, genre and book review of any 5 books from
‘www.bookpage.com

In [ ]:
#importing required libraries
from bs4 import BeautifulSoup
import requests

#source code is stored in page
page3=requests.get("https://bookpage.com/")

soup3=BeautifulSoup(page3.content)

In [ ]:
#book name
book_name= soup3.findAll('h4', {'class': 'italic'})
book_name

#iterating to the list and appending it
book_titles=[]
for i in book_name:
    book_titles.append(i.text.strip('\n'))
book_titles

In [ ]:
#author name
author_name=soup3.findAll('p', {'class': 'sans bold'})
author_name

#iterating to the list and appending it
author_titles=[]
for i in author_name:
    author_titles.append(i.text.strip(','))
author_titles

In [ ]:
#genre

genre=soup3.findAll('p', {'class': 'genre-links hidden-phone'})


#iterating to the list and appending it
genre_titles=[]
for i in genre:
    genre_titles.append(i.text.strip('\n/ \n'))
genre_titles

In [ ]:
#book review

book_review=soup3.findAll('p', {'class': 'excerpt'})


#iterating to the list and appending it
bookreview_titles=[]
for i in book_review:
    bookreview_titles.append(i.text.strip(','))
bookreview_titles

In [ ]:
import pandas as pd
bookpage=pd.DataFrame({})
bookpage['title']=book_titles
bookpage['author']=author_titles
bookpage['genre']=genre_titles
bookpage

# 5. python program to scrape cricket rankings from ‘www.icc-cricket.co

a.Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [119]:
page5a=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/test")
soup5a=BeautifulSoup(page5a.content)
page5a


table1= soup5a.findAll("table", { "class" : "table " })
table1
 
rows1=[]
#find all tr tag(rows)-traversing rows 
for row in table1:
    rows1 = table1.find_all('tr')

#find all td tags(columns)-traversing columns inside the rows
for tr1 in rows1:
    data1=[]
    cols1 = tr1.find_all('td') 
    for td1 in cols1:
        data1.append(td1.text.strip()) 
    print(data1)

b.Top 10 ODI Batsmen in men along with the records of their team and rating

In [120]:
page5b=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
soup5b=BeautifulSoup(page5b.content)
page5b

#Top 10 ODI Batsmen in men along with the records of their team and rating

table= soup5b.find("table", { "class" : "table rankings-table" })
table

 #find all tr tag(rows)-traversing rows 
for row in table:
    rows = table.find_all('tr')

#find all td tags(columns)-traversing columns inside the rows
for tr in rows:
    data=[]
    cols = tr.find_all('td') 
    for td in cols:
        data.append(td.text.strip()) 
    print(data)

[]
['1', 'Babar Azam', 'PAK', '865', '865 v South Africa, 07/04/2021']
['2', 'Virat Kohli', 'IND', '857', '911 v England, 12/07/2018']
['3', 'Rohit Sharma', 'IND', '825', '885 v Sri Lanka, 06/07/2019']
['4', 'Ross Taylor', 'NZ', '801', '841 v Bangladesh, 05/06/2019']
['5', 'Aaron Finch', 'AUS', '791', '798 v England, 25/06/2019']
['6', 'Jonny Bairstow', 'ENG', '785', '796 v India, 26/03/2021']
['7', 'Fakhar Zaman', 'PAK', '778', '778 v South Africa, 07/04/2021']
['', 'Francois du Plessis', 'SA', '778', '820 v Australia, 06/07/2019']
['9', 'David Warner', 'AUS', '773', '880 v Pakistan, 26/01/2017']
['', 'Shai Hope', 'WI', '773', '808 v Bangladesh, 17/05/2019']
['11', 'Quinton de Kock', 'SA', '756', '813 v Sri Lanka, 10/03/2019']
['12', 'Kane Williamson', 'NZ', '754', '799 v India, 09/07/2019']
['13', 'Imam-ul-Haq', 'PAK', '751', '768 v South Africa, 02/04/2021']
['14', 'Mushfiqur Rahim', 'BAN', '734', '739 v Sri Lanka, 25/05/2021']
['15', 'Joe Root', 'ENG', '723', '824 v Sri Lanka, 13/10/2018']
['16', 'Steve Smith', 'AUS', '707', '752 v Pakistan, 22/01/2017']
['', 'Martin Guptill', 'NZ', '707', '789 v South Africa, 01/03/2017']
['18', 'Shikhar Dhawan', 'IND', '706', '813 v Pakistan, 23/09/2018']
['19\n        \n\n\n\nThis player has moved up in the rankings since the previous rankings update', 'Jason Roy', 'ENG', '689', '782 v Australia, 11/07/2019']
['20\n        \n\n\n\nThis player has moved down in the rankings since the previous rankings update', 'Paul Stirling', 'IRE', '687', '697 v Netherlands, 04/06/2021']
['21', 'Glenn Maxwell', 'AUS', '684', '735 v India, 20/01/2016']
['22', 'Rassie van der Dussen', 'SA', '680', '683 v Pakistan, 04/04/2021']
['23', 'Usman Khawaja', 'AUS', '675', '735 v New Zealand, 29/06/2019']
['24', 'Ben Stokes', 'ENG', '668', '694 v New Zealand, 14/07/2019']
['25', 'Tamim Iqbal', 'BAN', '667', '737 v West Indies, 28/07/2018']
['26', 'Eoin Morgan', 'ENG', '655', '720 v Afghanistan, 18/06/2019']
['27', 'Lokesh Rahul', 'IND', '646', '657 v England, 26/03/2021']
['28', 'Alex Carey', 'AUS', '644', '644 v India, 02/12/2020']
['29', 'David Miller', 'SA', '640', '643 v Pakistan, 04/04/2021']
['30', 'Shimron Hetmyer', 'WI', '633', '709 v India, 15/12/2019']
['31', 'Shakib Al Hasan', 'BAN', '632', '692 v Pakistan, 05/07/2019']
['32', 'Jos Buttler', 'ENG', '627', '741 v Bangladesh, 08/06/2019']
['33', 'Tom Latham', 'NZ', '624', '631 v Bangladesh, 23/03/2021']
['34', 'Nicholas Pooran', 'WI', '614', '634 v Ireland, 12/01/2020']
['35', 'Haris Sohail', 'PAK', '603', '618 v Zimbabwe, 30/10/2020']
['36', 'Mahmudullah', 'BAN', '582', '582 v Sri Lanka, 28/05/2021']
['37', 'Henry Nicholls', 'NZ', '581', '596 v Bangladesh, 20/03/2021']
['38', 'Aqib Ilyas', 'OMA', '578', '578 v United States, 11/02/2020']
['39', 'Kyle Coetzer', 'SCO', '573', '647 v Ireland, 18/03/2018']
['40', 'Brendan Taylor', 'ZIM', '571', '667 v New Zealand, 09/02/2012']
['41', 'Angelo Mathews', 'SL', '567', '707 v England, 07/12/2014']
['42', 'Kusal Perera', 'SL', '566', '566 v Bangladesh, 28/05/2021']
['43', 'Hardik Pandya', 'IND', '561', '561 v England, 28/03/2021']
['', 'Sean Williams', 'ZIM', '561', '561 v Pakistan, 03/11/2020']
['45', 'Kedar Jadhav', 'IND', '560', '629 v Afghanistan, 22/06/2019']
['46', 'Evin Lewis', 'WI', '559', '567 v Sri Lanka, 12/03/2021']
['', 'Rahmat Shah', 'AFG', '559', '625 v Sri Lanka, 17/09/2018']
['48', 'Danushka Gunathilaka', 'SL', '554', '554 v Bangladesh, 28/05/2021']
['49', 'Mohammad Hafeez', 'PAK', '546', '665 v Bangladesh, 04/03/2014']
['50\n        \n\n\n\nThis player has moved up in the rankings since the previous rankings update', 'Kusal Mendis', 'SL', '542', '631 v Zimbabwe, 30/06/2017']
['51\n        \n\n\n\nThis player has moved down in the rankings since the previous rankings update', 'Andrew Balbirnie', 'IRE', '537', '570 v Zimbabwe, 01/07/2019']
['52', 'Sikandar Raza', 'ZIM', '536', '576 v Afghanistan, 22/10/2015']
['53', 'Litton Das', 'BAN', '535', '573 v West Indies, 22/01/2021']
['54', 'Imad Wasim', 'PAK', '533', '556 v Bangladesh, 05/07/2019']
['55', 'Soumya Sarkar', 'BAN', '529', '671 v South Africa, 15/07/2015']
['56', 'Marcus Stoinis', 'AUS', '525', '616 v India, 08/03/2019']
['57', 'Mohammad Shahzad', 'AFG', '519', '594 v Bangladesh, 28/09/2016']
['58', 'Niroshan Dickwella', 'SL', '518', '518 v Bangladesh, 28/05/2021']
['59', 'Sarfaraz Ahmed', 'PAK', '512', '581 v West Indies, 05/10/2016']
['60', 'Calum MacLeod', 'SCO', '508', '585 v England, 10/06/2018']
['61', 'Colin de Grandhomme', 'NZ', '507', '520 v Pakistan, 19/01/2018']
['62', 'Najibullah Zadran', 'AFG', '506', '518 v West Indies, 09/11/2019']
['', 'Marnus Labuschagne', 'AUS', '506', '532 v India, 29/11/2020']
['64', 'Chris Gayle', 'WI', '504', '804 v Zimbabwe, 30/11/2003']
['65', 'Hashmatullah Shaidi', 'AFG', '498', '519 v India, 22/06/2019']
['66', 'Avishka Fernando', 'SL', '495', '514 v West Indies, 26/02/2020']
['', 'Jimmy Neesham', 'NZ', '495', '549 v Pakistan, 26/06/2019']
['', 'Shaun Marsh', 'AUS', '495', '581 v South Africa, 18/01/2009']
['69', 'Mohammad Nabi', 'AFG', '494', '545 v Bangladesh, 28/09/2016']
['70\n        \n\n\n\nThis player has moved up in the rankings since the previous rankings update', 'Mitchell Marsh', 'AUS', '486', '641 v New Zealand, 06/12/2016']
['71\n        \n\n\n\nThis player has moved down in the rankings since the previous rankings update', "Kevin O'Brien", 'IRE', '484', '602 v Netherlands, 07/07/2013']
['72', 'Peter Handscomb', 'AUS', '483', '593 v Pakistan, 27/03/2019']
['73', 'Shreyas Iyer', 'IND', '479', '513 v New Zealand, 11/02/2020']
['', 'Asghar Afghan', 'AFG', '479', '483 v West Indies, 11/11/2019']
['', 'Richard Berrington', 'SCO', '479', '487 v United States, 14/12/2019']
['76', 'Muhammad Usman', 'UAE', '471', '478 v Ireland, 08/01/2021']
['77', 'Colin Munro', 'NZ', '468', '539 v Sri Lanka, 05/01/2019']
['78', 'Craig Ervine', 'ZIM', '464', '524 v Afghanistan, 18/10/2015']
['79\n        \n\n\n\nThis player has moved up in the rankings since the previous rankings update', 'Mitchell Santner', 'NZ', '460', '502 v England, 10/03/2018']
['This player has moved down in the rankings since the previous rankings update', 'William Porterfield', 'IRE', '460', '539 v UAE, 12/03/2018']
['81', 'Heinrich Klaasen', 'SA', '457', '499 v Australia, 07/03/2020']
['82', 'Aiden Markram', 'SA', '454', '459 v New Zealand, 19/06/2019']
['83', 'Andile Phehlukwayo', 'SA', '450', '450 v Pakistan, 07/04/2021']
['84', 'Lahiru Thirimanne', 'SL', '449', '599 v West Indies, 04/11/2015']
['85', 'Dhananjaya de Silva', 'SL', '448', '448 v Bangladesh, 28/05/2021']
['86', 'Jason Holder', 'WI', '445', '445 v Sri Lanka, 14/03/2021']
['87', 'Temba Bavuma', 'SA', '444', '444 v Pakistan, 07/04/2021']
['88', 'Assad Vala', 'PNG', '443', '444 v Namibia, 23/09/2019']
['89', 'Ravindra Jadeja', 'IND', '440', '552 v West Indies, 08/10/2014']
['90', 'Sabbir Rahman', 'BAN', '437', '515 v Sri Lanka, 19/01/2018']
['91', 'Mithun Ali', 'BAN', '433', '452 v New Zealand, 23/03/2021']
['92', 'Rishabh Pant', 'IND', '432', '432 v England, 28/03/2021']
['', 'Rashid Khan', 'AFG', '432', '477 v Ireland, 10/03/2019']
['94', 'George Munsey', 'SCO', '430', '430 v Netherlands, 20/05/2021']
['95', 'Dinesh Chandimal', 'SL', '429', '667 v Australia, 02/03/2012']
['96', 'Rovman Powell', 'WI', '426', '456 v India, 24/10/2018']
['97', 'Tony Ura', 'PNG', '415', '416 v Namibia, 23/09/2019']
['', 'Gulbadin Naib', 'AFG', '415', '440 v Ireland, 28/02/2018']
['99', 'Chris Woakes', 'ENG', '411', '481 v Australia, 26/01/2018']
['100', 'Sam Billings', 'ENG', '409', '415 v Australia, 16/09/2020']

c.Top 10 ODI bowlers along with the records of their team and rating

In [135]:
page5c=requests.get("https://www.icc-cricket.com/rankings/mens/overview")
soup5c=BeautifulSoup(page5b.content)

table5c= soup5b.find("table", { "class" : "table" })

#find all tr tag(rows)-traversing rows 
for row in table5c:
    rows = table5c.find_all('tr')

#find all td tags(columns)-traversing columns inside the rows
for tr in rows:
    data5c=[]
    cols = tr.find_all('td') 
    for td in cols:
        data.append(td.text.strip()) 
    print(data5c)

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

# 6.program to scrape cricket rankings from ‘www.icc-cricket.com’

a.Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [127]:
page6a=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
soup6a=BeautifulSoup(page6a.content)
page6a

In [128]:
table6a= soup6a.findAll("table", { "class" : "table " })
table6a
 
rows1=[]
#find all tr tag(rows)-traversing rows 
for row in table6a:
    rows1 = table6a.find_all('tr')

#find all td tags(columns)-traversing columns inside the rows
for tr1 in rows1:
    data1=[]
    cols1 = tr1.find_all('td') 
    for td1 in cols1:
        data1.append(td1.text.strip()) 
    print(data1)

b. Top 10 women’s ODI players along with the records of their team and rating

In [129]:
page6b=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi")
soup6b=BeautifulSoup(page6b.content)
page6b

#Top 10 ODI Batsmen in men along with the records of their team and rating

table= soup6b.find("table", { "class" : "table" })
table

 #find all tr tag(rows)-traversing rows 
for row in table:
    rows = table.find_all('tr')

#find all td tags(columns)-traversing columns inside the rows
for tr in rows:
    data=[]
    cols = tr.find_all('td') 
    for td in cols:
        data.append(td.text.strip()) 
    print(data)

[]
['2', 'Lizelle Lee', 'SA', '758']
['3', 'Alyssa Healy', 'AUS', '756']
['4', 'Stafanie Taylor', 'WI', '746']
['5', 'Meg Lanning', 'AUS', '723']
['6', 'Amy Satterthwaite', 'NZ', '715']
['7', 'Smriti Mandhana', 'IND', '710']
['8', 'Mithali Raj', 'IND', '709']
['9\n        \n\n\n\nThis player has moved up in the rankings since the previous rankings update', 'Natalie Sciver', 'ENG', '685']
['10\n        \n\n\n\nThis player has moved up in the rankings since the previous rankings update', 'Laura Wolvaardt', 'SA', '683']

In [136]:
page6c=requests.get("https://www.icc-cricket.com/rankings/mens/overview")
soup6c=BeautifulSoup(page6b.content)

table6c= soup6b.find("table", { "class" : "table" })

#find all tr tag(rows)-traversing rows 
for row in table6c:
    rows = table6c.find_all('tr')

#find all td tags(columns)-traversing columns inside the rows
for tr in rows:
    data6c=[]
    cols = tr.find_all('td') 
    for td in cols:
        data.append(td.text.strip()) 
    print(data6c)

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

# 7.python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. 

The scraped data should include Product Name, Price, Image URL and Average Rating

In [150]:
#importing required libraries
from bs4 import BeautifulSoup
import requests

#source code is stored in page
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36'
}

page6 = requests.get("https://www.amazon.in/s?k=mobile+phones+under+20000&ref=nb_sb_noss_1", headers = headers)

print(page6)

soup6=BeautifulSoup(page6.content)

page6

<Response [200]>

In [151]:
# mobile Names titles
mobile=soup6.findAll('span', {'class': 'a-size-medium a-color-base a-text-normal'})
mobile

#iterating to the list and appending it
mobile_titles=[]
for i in mobile:
    mobile_titles.append(i.text.strip(','))
mobile_titles

['Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate',
 'Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery',
 'Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera & Full HD+ Display',
 'Oppo A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi Note 10 (Aqua Green, 6GB RAM, 128GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor',
 'Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers',
 'OPPO A74 5G (Fluid Black, 6GB RAM, 128GB Storage)| 5000 mAh | 18W Fast Charge | 90Hz Super Amoled Display',
 'Oppo F19 (Prism Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi 9 Power (Mighty Black, 6GB RAM, 128GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera | Snapdragon 662 Processor',
 'TECNO Spark 7T(Magnet Black, 4GB RAM,64GB Storage) 6000 mAh Battery| 48 MP AI Dual Rear Camera',
 'Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) | 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Samsung Galaxy M11 (Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate',
 'Panasonic Eluga i7 (2GB RAM, 16GB Storage, Finger Print Sensor, 4000mAh Battery) (Black)',
 'Samsung Galaxy M02s (Blue,4GB RAM, 64GB Storage) | 5000 mAh | Triple Camera',
 'Samsung Galaxy M12 (Black,6GB RAM, 128GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate',
 'Tecno Spark 7 (Spruce Green, 2GB RAM, 32 GB Storage) - 6000mAh Battery|16 MP Dual Camera| 6.52” Dot Notch Display',
 'Tecno Spark 7 Pro (Alps Blue, 6GB RAM 64GB Storage)']

In [16]:
#Price

mobilePrice=soup6.findAll('span', {'class': 'a-price-whole'})


mobilePrice_titles=[]
for i in mobilePrice:
    mobilePrice_titles.append(i.text.strip(','))
mobilePrice_titles

['9,299.',
 '8,499.',
 '11,490',
 '17,990',
 '8,799',
 '6,799',
 '8,999',
 '11,490',
 '10,999',
 '11,490',
 '14,499',
 '6,199',
 '9,299',
 '17,990',
 '8,799',
 '8,999',
 '8,999',
 '12,999',
 '10,999',
 '5,298',
 '6,799',
 '10,999',
 '14,490']

In [17]:
# Image URL

Image_URL=soup6.find_all('a',{'class': 'a-link-normal'})
 
URL_titles=[]
for i in Image_URL:
    URL_titles.append(i.text)
URL_titles

['',
 '',
 'Swag Up With Spark 7',
 'Shop TECNO MOBILES INDIA',
 '',
 '',
 '₹9,299.00₹9,299.00\xa0',
 '',
 '',
 'Deal of the Day',
 '₹8,499.00₹8,499.00\xa0₹9,999.00₹9,999.00(15% off)',
 '',
 '',
 'Let us know ',
 'Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers ',
 '16,395 ',
 'Limited time deal ',
 '₹11,490₹11,490 ₹15,990₹15,990 ',
 '',
 'Let us know ',
 'OPPO A74 5G (Fluid Black, 6GB RAM, 128GB Storage)| 5000 mAh | 18W Fast Charge | 90Hz Super Amoled Display ',
 '1,470 ',
 'Limited time deal ',
 '₹17,990₹17,990 ₹20,990₹20,990 ',
 '',
 'Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor ',
 '48,702 ',
 'Limited time deal ',
 '₹8,799₹8,799 ₹10,999₹10,999 ',
 '',
 'Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery ',
 '52,593 ',
 '₹6,799₹6,799 ₹8,499₹8,499 ',
 '',
 'Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers ',
 '2,025 ',
 '₹8,999₹8,999 ₹14,999₹14,999 ',
 '',
 'Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers ',
 '16,395 ',
 'Limited time deal ',
 '₹11,490₹11,490 ₹15,990₹15,990 ',
 '',
 'Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera & Full HD+ Display ',
 '70,048 ',
 '₹10,999₹10,999 ₹14,999₹14,999 ',
 '',
 'Oppo A31 (Mystery Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers ',
 '16,395 ',
 'Limited time deal ',
 '₹11,490₹11,490 ₹15,990₹15,990 ',
 '',
 'Redmi Note 10 (Aqua Green, 6GB RAM, 128GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor ',
 '40,733 ',
 '₹14,499₹14,499 ₹17,999₹17,999 ',
 '',
 'Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers ',
 '21,089 ',
 '₹6,199₹6,199 ₹8,499₹8,499 ',
 '',
 'Let us know ',
 'Tecno Spark 7 (Spruce Green, 3GB RAM, 64 GB Storage) - 6000mAh Battery|16 MP Dual Camera| 6.52” Dot Notch Display ',
 '546 ',
 '₹9,299₹9,299 ₹10,990₹10,990 ',
 '',
 'Let us know ',
 'Oppo F19 (Prism Black, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers ',
 '382 ',
 '₹17,990₹17,990 ₹20,990₹20,990 ',
 '',
 'Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) | 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor ',
 '48,702 ',
 'Limited time deal ',
 '₹8,799₹8,799 ₹10,999₹10,999 ',
 '',
 'TECNO Spark 7T(Magnet Black, 4GB RAM,64GB Storage) 6000 mAh Battery| 48 MP AI Dual Rear Camera ',
 '3 ',
 '₹8,999₹8,999 ₹10,999₹10,999 ',
 '',
 'Samsung Galaxy M11 (Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers ',
 '1,868 ',
 '₹8,999₹8,999 ₹14,999₹14,999 ',
 '',
 'Redmi 9 Power (Mighty Black, 6GB RAM, 128GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera | Snapdragon 662 Processor ',
 '36,695 ',
 '₹12,999₹12,999 ₹16,999₹16,999 ',
 '',
 'Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage) 6000 mAh with 8nm Processor | True 48 MP Quad Camera | 90Hz Refresh Rate ',
 '22,761 ',
 'Limited time deal ',
 '₹10,999₹10,999 ₹12,999₹12,999 ',
 '',
 'Panasonic Eluga i7 (2GB RAM, 16GB Storage, Finger Print Sensor, 4000mAh Battery) (Black) ',
 '3,779 ',
 '₹5,298₹5,298 ₹10,999₹10,999 ',
 '',
 'Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery ',
 '52,593 ',
 '₹6,799₹6,799 ₹8,499₹8,499 ',
 '',
 'Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage) ',
 '199,703 ',
 '',
 'Let us know ',
 'Tecno Spark 7 Pro (Alps Blue, 6GB RAM 64GB Storage) ',
 '53 ',
 'Limited time deal ',
 '₹10,999₹10,999 ₹13,999₹13,999 ',
 '',
 'Let us know ',
 'Oppo A54 (Moonlight Gold, 4GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers, Large ',
 '85 ',
 '₹14,490₹14,490 ₹15,990₹15,990 ',
 '\n\n\n\n\n\n\nmobile phones under 20000 8gb 128gb\n\n\n\n',
 '\n\n\n\n\n\n\nmobile phones under 2000\n\n\n\n',
 '\n\n\n\n\n\n\nmobile phones under 15000\n\n\n\n',
 '\n\n\n\n\n\n\nsamsung mobile phones under 20000\n\n\n\n',
 '\n\n\n\n\n\n\nrealme mobile phones under 20000\n\n\n\n',
 '\n\n\n\n\n\n\none + plus nord\n\n\n\n',
 '',
 '',
 '',
 '',
 'Swag Up With Spark 7',
 'Shop TECNO MOBILES INDIA',
 '',
 '',
 '',
 '',
 'Samsung Galaxy M Series',
 'Shop Spigen',
 '',
 '',
 '',
 '',
 'SortCircuit Brand',
 'Shop Your Gadget Accessories',
 '\n\n\n\nVisit the help section\n\n\n',
 '\n\n\n\ncontact us\n\n\n',
 '\nGo back to filtering menu\n',
 '\nSkip to main search results\n',
 '\n\nGet It Today\n',
 '\n\nGet It by Tomorrow\n',
 '\nSmartphones & Basic Mobiles\n',
 '\nSmartphones\n',
 '\nElectronics\n',
 '\n\n4 Stars & Up\n& Up\n\n',
 '\n\n3 Stars & Up\n& Up\n\n',
 '\n\n2 Stars & Up\n& Up\n\n',
 '\n\n1 Star & Up\n& Up\n\n',
 '\n\nSamsung\n',
 '\n\nRedmi\n',
 '\n\nOppo\n',
 '\n\nVivo\n',
 '\n\nOnePlus\n',
 '\n\nrealme\n',
 '\n\nPanasonic\n',
 '\n\nMI\n',
 '\n\nTecno\n',
 '\n\nIKALL\n',
 '\n\nNokia\n',
 '\n\nMicromax\n',
 '\n\nLava\n',
 '\n\nBlackBerry\n',
 '\n\nMotorola\n',
 '\nUnder ₹1,000\n',
 '\n₹1,000 - ₹5,000\n',
 '\n₹5,000 - ₹10,000\n',
 '\n₹10,000 - ₹20,000\n',
 "\n\nToday's Deals\n",
 '\n\nMade for Amazon\n',
 '\n\nAndroid\n',
 '\n\nBada\n',
 '\n\niOS\n',
 '\n\nSymbian\n',
 '\n\nWindows Phone\n',
 '\n\nEligible for Pay On Delivery\n',
 '\n\nLess than 3.9 GB\n',
 '\n\n4 GB\n',
 '\n\n8 GB\n',
 '\n\n16 GB\n',
 '\n\n32 GB\n',
 '\n\n64 GB\n',
 '\n\n128 GB\n',
 '\n\n256 GB & above\n',
 '\n\n8GB & above\n',
 '\n\n6GB\n',
 '\n\n4GB\n',
 '\n\n3 GB\n',
 '\n\n2 GB\n',
 '\n\n1 GB\n',
 '\n\nLess Than 512 MB\n',
 '\n\nSingle Core\n',
 '\n\nQuad Core\n',
 '\n\nHexa Core\n',
 '\n\nOcta Core\n',
 '\n\nBelow 3.9 Inches\n',
 '\n\n4 To 4.4 Inches\n',
 '\n\n4.5 To 4.9 Inches\n',
 '\n\n5 To 5.4 Inches\n',
 '\n\n5.5 Inches & Above\n',
 '\n\nLess Than 0.99 GHz\n',
 '\n\n1 - 1.49 GHz\n',
 '\n\n1.5 - 1.99 GHz\n',
 '\n\n2 - 2.4 GHz\n',
 '\n\n2.5 GHz & Above\n',
 '\n\nLess Than 999 mAh\n',
 '\n\n1000 - 1999 mAh\n',
 '\n\n2000 - 2999 mAh\n',
 '\n\n3000 - 3999 mAh\n',
 '\n\n4000 mAh & More\n',
 '\n\n\n\n',
 '\n\n\n\n',
 '\n\n\n\n',
 '\n\n\n\n',
 '\n\n\n\n',
 '\n\n\n\n',
 '\n\n\n\n',
 '\n\n\n\n',
 '\n\n\n\n',
 '\n\n\n\n',
 '\n\n\n\n',
 '\n\n\n\n',
 '\n\n\n\n',
 '\n\n\n\n',
 '\n\n\n\n',
 '\n\n\n\n',
 '\n\nUp to 3.9 MP\n',
 '\n\n4 - 7.9 MP\n',
 '\n\n8 - 11.9 MP\n',
 '\n\n12 - 15.9 MP\n',
 '\n\n16 - 19.9 MP\n',
 '\n\n20 - 23.9 MP\n',
 '\n\n32 MP & Above\n',
 '\n\nUp to 3.9 MP\n',
 '\n\n4 - 7.9 MP\n',
 '\n\n8 - 11.9 MP\n',
 '\n\n12 - 15.9 MP\n',
 '\n\n16 - 19.9 MP\n',
 '\n\n32 MP & Above\n',
 '\n\nBluetooth Tethering\n',
 '\n\nDual SIM\n',
 '\n\nE-Mail\n',
 '\n\nGPS\n',
 '\n\nHotspot\n',
 '\n\nInternet\n',
 '\n\nMP3\n',
 '\n\nMusic Player\n',
 '\n\nPrimary Camera\n',
 '\n\nRadio\n',
 '\n\nTouchscreen\n',
 '\n\nUSB\n',
 '\n\nVideo Playback\n',
 '\n\nWAP\n',
 '\n\n3G\n',
 '\n\n4G\n',
 '\n\nEdge\n',
 '\n\nGPRS\n',
 '\n\nGSM\n',
 '\n\nWiFi\n',
 '\nNew\n',
 '\n10% Off or more\n',
 '\n25% Off or more\n',
 '\n35% Off or more\n',
 '\n50% Off or more\n',
 '\n\nInclude Out of Stock\n']

In [18]:
#Average Rating
avgRating=soup6.findAll('span', {'class': 'a-icon-alt'})

avgRating_titles=[]
for i in avgRating:                              
    avgRating_titles.append(i.text.strip(','))
    
avgRating_titles

['4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.3 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '3.7 out of 5 stars',
 '3.9 out of 5 stars',
 '4.0 out of 5 stars',
 '4.2 out of 5 stars',
 '5.0 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '3.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.3 out of 5 stars',
 '3.9 out of 5 stars',
 '4.2 out of 5 stars',
 '4 Stars & Up',
 '3 Stars & Up',
 '2 Stars & Up',
 '1 Star & Up']

In [19]:
len(mobile_titles)

22

In [20]:
len(mobilePrice_titles)

23

In [21]:
len(avgRating_titles)

26

In [22]:
import numpy as np
import pandas as pd
my_dict=dict( mobile_title = np.array(mobile_titles), price = np.array(mobilePrice_titles),rating=np.array(avgRating_titles) )
amazondetails=pd.DataFrame.from_dict(my_dict, orient='index')
amazondetails.transpose()

,mobile_title,price,rating
0,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","9,299.",4.2 out of 5 stars
1,"OPPO A74 5G (Fluid Black, 6GB RAM, 128GB Stora...","8,499.",4.2 out of 5 stars
2,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 500...","11,490",4.2 out of 5 stars
3,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...","17,990",4.2 out of 5 stars
4,"Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64...","8,799",4.2 out of 5 stars
5,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","6,799",4.2 out of 5 stars
6,"Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...","8,999",4.3 out of 5 stars
7,"Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...","11,490",4.2 out of 5 stars
8,"Redmi Note 10 (Aqua Green, 6GB RAM, 128GB Stor...","10,999",4.1 out of 5 stars
9,"Samsung Galaxy M01 Core (Black, 2GB RAM, 32GB ...","11,490",3.7 out of 5 stars
10,"Tecno Spark 7 (Spruce Green, 3GB RAM, 64 GB St...","14,499",3.9 out of 5 stars
11,"Oppo F19 (Prism Black, 6GB RAM, 128GB Storage)...","6,199",4.0 out of 5 stars
12,"Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) ...","9,299",4.2 out of 5 stars
13,"TECNO Spark 7T(Magnet Black, 4GB RAM,64GB Stor...","17,990",5.0 out of 5 stars
14,"Samsung Galaxy M11 (Black, 4GB RAM, 64GB Stora...","8,799",4.2 out of 5 stars
15,"Redmi 9 Power (Mighty Black, 6GB RAM, 128GB St...","8,999",4.2 out of 5 stars
16,"Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage...","8,999",4.1 out of 5 stars
17,"Panasonic Eluga i7 (2GB RAM, 16GB Storage, Fin...","12,999",3.1 out of 5 stars
18,Redmi 9A (Sea Blue 2GB RAM 32GB Storage) | 2GH...,"10,999",4.2 out of 5 stars
19,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...","5,298",4.3 out of 5 stars
20,"Tecno Spark 7 Pro (Alps Blue, 6GB RAM 64GB Sto...","6,799",3.9 out of 5 stars
21,"Oppo A54 (Moonlight Gold, 4GB RAM, 128GB Stora...","10,999",4.2 out of 5 stars
22,None,"14,490",4 Stars & Up
23,None,None,3 Stars & Up
24,None,None,2 Stars & Up
25,None,None,1 Star & Up

# 8.python program to extract information about the local weather from the National Weather Service
website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day
extended forecast display for the city. The data should include period, short description, temperature and
description

In [ ]:
#importing required libraries
from bs4 import BeautifulSoup
import requests

#source code is stored in page
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36'
}

page8 = requests.get("https://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168#.YM3zMWgzY2w",headers = headers)


soup8=BeautifulSoup(page8.content)

page8

In [ ]:
period = soup8.findAll('p', {'class': 'period-name'})

period_titles=[]
for i in period:                              
     period_titles.append(i.text)
    
period_titles

In [ ]:
desc= soup8.findAll('p', {'class': 'short-desc'})

desc_titles=[]
for i in period:                              
     desc_titles.append(i.text)
    
desc_titles

In [ ]:
temp = soup8.findAll('p', {'class': 'temp'})

temp_titles=[]
for i in temp:                              
     temp_titles.append(i.text)
    
temp_titles

In [ ]:
import pandas as pd
details=pd.DataFrame({})
details['period']=period_titles
details['short description']=desc_titles
details['temperature']=temp_titles

details

# 9.scrape fresher job listings from ‘https://internshala.com/’. It should include job title,
company name, CTC, and apply date

In [ ]:
page9=requests.get("https://internshala.com/internships")
soup9=BeautifulSoup(page9.content)

In [ ]:
#job title
alltitle=soup9.find_all('div',class_="heading_4_5 profile")

job_titles=[]
for i in alltitle:
    job_titles.append(i.text.strip())
job_titles

In [ ]:
#company title
company=soup9.find_all('a',class_="link_display_like_text")

company_titles=[]
for i in company:
    company_titles.append(i.text.strip())
company_titles

In [ ]:
#salary
stipend= soup9.findAll('span', {'class': 'stipend'})

stipend_titles=[]
for i in stipend:
    stipend_titles.append(i.text.strip())
stipend_titles

In [ ]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_titles
jobs['stipend']=stipend_titles

jobs

# 10. scrape house details from mentioned url. It should include house title, location,
area, emi and price

In [138]:
page10=requests.get("https://www.nobroker.in/property/rent/bangalore/Electronic%20City?searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&radius=2.0&sharedAccomodation=0")
soup10=BeautifulSoup(page10.content)
page10

In [142]:
#house titles
house= soup10.findAll('h2', {'class': 'heading-6 font-semi-bold nb__1dDS4'})

house_titles=[]
for i in house:
     house_titles.append(i.text.strip())
house_titles

['1 BHK In Independent House  For Rent  In Electronic City',
 '2 BHK Apartment  For Rent  In Golden Abode In Electronic City Phase Ii, Electronic City',
 '2 BHK Flat  For Rent  In Golden Lotus Apartment In Electronic City',
 '2 BHK Flat  For Rent  In Keerthi Royal Palms In Electronic City',
 '2 BHK Flat  For Rent  In Rangashree Residency In Electronic City',
 '2 BHK In Independent House  For Rent  In Electronic City',
 '2 BHK Apartment  For Rent  In Ajmera Stone Park In Electronic City',
 '2 BHK Flat  For Rent  In Bhaskar Arcade In Neeladri Nagar, Electronics City Phase 1, Electronic City',
 '2 BHK Apartment  For Rent  In Goel Ganga Vertica In Electronic City Phase I',
 '2 BHK Flat  For Rent  In White Orchid Apartment, Electronic City In Electronic City']

In [144]:
#loaction
loaction= soup10.findAll('div', {'class': 'nb__1xmkC'})

loaction_titles=[]
for i in loaction:
     loaction_titles.append(i.text.strip())
loaction_titles

['Independent House, 36, 3rd Main Road, Neeladri Investment layout, Doddathogur, Electronic City Phase 1, Explore Nearby',
 'Golden Abode\xa0 Kamadhenu Layout, GS Palaya, Konappana Agrahara, Electronic City, Bengaluru, Karnataka 560100, IndiaExplore Nearby',
 'Silicon Town, near tech mahindraExplore Nearby',
 'Keerthi Royal Palms, Service Rd, Lavakusha Nagar, Konappana Agrahara, Electronic City, Bengaluru, Karnataka 560100, IndiaExplore Nearby',
 'Gollahalli, Electronic City, Bengaluru, Karnataka 560100, IndiaExplore Nearby',
 'Independent House, Vasundhara Layout,Glass Factory Layout, Near Ittina Neela AppartmentsExplore Nearby',
 'Ajmera Stone Park\xa0 1st Cross Rd, Next to A2B, Neeladri Nagar, Electronics City Phase 1, Electronic City, Bengaluru, Karnataka 560100, IndiaExplore Nearby',
 'Near Brand Factory, Neeladri NagarExplore Nearby',
 'Goel Ganga Vertica\xa0 Neladri nagar, Near Wipro Campus,  Electronic City Phase I, Bangalore, Karnataka, INDIA.Explore Nearby',
 '14th Cross Rd, Shree Ananth Nagar Layout, Glass Factory Layout, Electronic City, Bengaluru, Karnataka 560100, IndiaExplore Nearby']

In [145]:
#area
area= soup10.findAll('div', {'class': 'nb__3uAB8'})

area_titles=[]
for i in area:
    area_titles.append(i.text.strip())
area_titles

['750 sqft',
 '1,141 sqft',
 '1,200 sqft',
 '1,380 sqft',
 '1,015 sqft',
 '1,000 sqft',
 '1,200 sqft',
 '850 sqft',
 '1,015 sqft',
 '1,060 sqft']

In [147]:
#rent
rent= soup10.findAll('div', {'class': 'nb__3vqcl'})

rent_titles=[]
for i in rent:
    rent_titles.append(i.text.strip())
rent_titles

['₹ 9,000No Extra Maintenance',
 '₹ 20,000₹ 2,400 Maintenance',
 '₹ 13,500₹ 1,000 Maintenance',
 '₹ 18,000₹ 3,000 Maintenance',
 '₹ 12,000₹ 2,000 Maintenance',
 '₹ 11,000₹ 1,500 Maintenance',
 '₹ 24,000No Extra Maintenance',
 '₹ 12,500₹ 1,500 Maintenance',
 '₹ 22,500₹ 2,500 Maintenance',
 '₹ 12,000₹ 1,700 Maintenance']

In [149]:
import pandas as pd
house=pd.DataFrame({})
house['title']=house_titles
house['loaction']=loaction_titles
house['area']=area_titles
house['rent']=rent_titles


house

,title,loaction,area,rent
0,1 BHK In Independent House For Rent In Elect...,"Independent House, 36, 3rd Main Road, Neeladri...",750 sqft,"₹ 9,000No Extra Maintenance"
1,2 BHK Apartment For Rent In Golden Abode In ...,"Golden Abode Kamadhenu Layout, GS Palaya, Kon...","1,141 sqft","₹ 20,000₹ 2,400 Maintenance"
2,2 BHK Flat For Rent In Golden Lotus Apartmen...,"Silicon Town, near tech mahindraExplore Nearby","1,200 sqft","₹ 13,500₹ 1,000 Maintenance"
3,2 BHK Flat For Rent In Keerthi Royal Palms I...,"Keerthi Royal Palms, Service Rd, Lavakusha Nag...","1,380 sqft","₹ 18,000₹ 3,000 Maintenance"
4,2 BHK Flat For Rent In Rangashree Residency ...,"Gollahalli, Electronic City, Bengaluru, Karnat...","1,015 sqft","₹ 12,000₹ 2,000 Maintenance"
5,2 BHK In Independent House For Rent In Elect...,"Independent House, Vasundhara Layout,Glass Fac...","1,000 sqft","₹ 11,000₹ 1,500 Maintenance"
6,2 BHK Apartment For Rent In Ajmera Stone Par...,"Ajmera Stone Park 1st Cross Rd, Next to A2B, ...","1,200 sqft","₹ 24,000No Extra Maintenance"
7,2 BHK Flat For Rent In Bhaskar Arcade In Nee...,"Near Brand Factory, Neeladri NagarExplore Nearby",850 sqft,"₹ 12,500₹ 1,500 Maintenance"
8,2 BHK Apartment For Rent In Goel Ganga Verti...,"Goel Ganga Vertica Neladri nagar, Near Wipro ...","1,015 sqft","₹ 22,500₹ 2,500 Maintenance"
9,2 BHK Flat For Rent In White Orchid Apartmen...,"14th Cross Rd, Shree Ananth Nagar Layout, Glas...","1,060 sqft","₹ 12,000₹ 1,700 Maintenance"