In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\91890\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\91890\anaconda3\lib\site-packages (from selenium) (1.25.11)

WARNING: You are using pip version 20.3.3; however, version 21.1.3 is available.
You should consider upgrading via the 'c:\users\91890\anaconda3\python.exe -m pip install --upgrade pip' command.

In [3]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [4]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")

# question 1

Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”
in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [97]:
url='https://www.naukri.com/'
driver.get(url)

In [98]:
search_job=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job

In [99]:
# Enter “Data Analyst” in “Skill,Designations,Companies” field and 

search_job.send_keys("Data Analyst")

In [100]:
#enter “Bangalore” in “enter the location” field.
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore")

In [101]:
#click the search button
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [102]:
#scrape the data for the first 10 jobs results you get.


#job title
alltitle=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
alltitle

[<selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="8e3e15a1-1e27-4874-98ad-6d2b73618f2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="c8540b64-aa19-4b46-b2f2-03fe6bc4cdcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="bf3a7a11-6ffb-4a78-8667-878fd40ad0b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="7ac539ef-8be0-43c0-bbaa-e6b7c3264ed9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="7e885114-d5b6-4ea8-8293-b42f80e7ec15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="0c5857fd-9ab1-44e3-b468-4f4b6e16e90a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="14b9bfca-3c29-4797-9c83-3845052b31c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="286d14b0-8625-40e4-a00f-7f71cc89efe4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="4b039b88-9ed3-4b55-9e8c-9b054a06b968")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="2d87498f-1d3e-49f9-be0f-2ca8f014211b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="4851f96f-a76a-49e7-b7ba-57f390a1e53a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="9b7b70fa-8e1c-48cb-84dc-5f947883e028")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="d4bb1360-4753-478d-9b67-363e6c8fe9d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="7790c85e-4a87-471b-a867-9d6801ee7cfe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="bd4c925a-6a90-4319-8fd6-70955c24d1ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="27aa7aaa-a465-4a22-a3a9-81e3c6038057")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="7f556c6e-c925-43ca-b62d-0dbac85165a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="c44ff5d2-fdd8-4e80-89a3-c54474560756")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="0c603056-cf87-445e-9275-727387cd28e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6e42025ae4d80c1858af31f928644113", element="d2f80916-d4a8-4c5b-957e-fc4686d3a4d9")>]

In [103]:
job_titles=[]
for i in alltitle:
    job_titles.append(i.text)

job_titles

['Senior Data Analyst',
 'Data Analyst',
 'Data Analyst (Data Stewards)//Immediate Joiners//Bangalore',
 'Data Analyst with Replicon Software',
 'Data Analyst / Sr. Data Analyst - SQL',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Associate - Data Analyst',
 'Senior Associate - Data Analyst',
 'Data Analyst-Immediate Joiners',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Sr Data Analyst with Hadoop and Alteryx both are Mandate_MNC Company',
 'Senior Data Analyst',
 'Immediate job openings For Partner Consultant - Sizing(Data Analyst) ',
 'Data Analyst, Component Engineering']

In [104]:
#company
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")


companies_tags_titles=[]
for i in companies_tags:
    companies_tags_titles.append(i.text)
    
companies_tags_titles

['Flipkart Internet Private Limited',
 'Zilingo.com',
 'Tech Mahindra Ltd.',
 'Replicon Software (India) Pvt Ltd',
 'Naukri Premium - Employer Services',
 'Publicis Groupe',
 'Publicis Groupe',
 'Publicis Groupe',
 'Sapient',
 'Publicis Groupe',
 'Brillio',
 'COLLABERA',
 'Allegis Services India Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'Flipkart Internet Private Limited',
 'ANZ Banking Group',
 'Inspiration Manpower Consultancy Pvt. Ltd.',
 'Liventus, Inc.',
 'RANDSTAD INDIA PVT LTD',
 'Rockwell Automation']

In [105]:
#experience
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")


experience_tags_titles=[]
for i in experience_tags:
    experience_tags_titles.append(i.text)
experience_tags_titles

['4-5 Yrs',
 '0-4 Yrs',
 '5-10 Yrs',
 '2-4 Yrs',
 '2-5 Yrs',
 '5-9 Yrs',
 '6-8 Yrs',
 '1-7 Yrs',
 '4-6 Yrs',
 '1-3 Yrs',
 '4-6 Yrs',
 '2-4 Yrs',
 '5-8 Yrs',
 '8-12 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '7-12 Yrs',
 '5-8 Yrs',
 '1-5 Yrs',
 '2-3 Yrs']

In [106]:
#location
location_title=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

location_tags_titles=[]
for i in location_title:
    location_tags_titles.append(i.text)
    
location_tags_titles

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(2nd Phase JP Nagar)',
 'Bangalore/Bengaluru(Marathahalli)',
 'Bangalore/Bengaluru']

In [107]:
#salary
salary_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']//span")


salary_tags_titles=[]
for i in salary_tags:
    salary_tags_titles.append(i.text)
salary_tags_titles

['Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '3,75,000 - 6,00,000 PA.',
 '4,50,000 - 5,50,000 PA.',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 'Not disclosed',
 '10,00,000 - 20,00,000 PA.',
 '1,50,000 - more than 3,00,000 PA.',
 'Not disclosed']

In [108]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=companies_tags_titles[:10]
jobs['experience']=experience_tags_titles[:10]
jobs['salary']=salary_tags_titles[:10]
jobs['place']=location_tags_titles[:10]

jobs

,title,company,experience,salary,place
0,Senior Data Analyst,Flipkart Internet Private Limited,4-5 Yrs,Not disclosed,Bangalore/Bengaluru
1,Data Analyst,Zilingo.com,0-4 Yrs,Not disclosed,Bangalore/Bengaluru
2,Data Analyst (Data Stewards)//Immediate Joiner...,Tech Mahindra Ltd.,5-10 Yrs,Not disclosed,Bangalore/Bengaluru
3,Data Analyst with Replicon Software,Replicon Software (India) Pvt Ltd,2-4 Yrs,Not disclosed,Bangalore/Bengaluru
4,Data Analyst / Sr. Data Analyst - SQL,Naukri Premium - Employer Services,2-5 Yrs,Not disclosed,Bangalore/Bengaluru
5,Senior Data Analyst,Publicis Groupe,5-9 Yrs,Not disclosed,Bangalore/Bengaluru
6,Senior Data Analyst,Publicis Groupe,6-8 Yrs,Not disclosed,Bangalore/Bengaluru
7,Senior Data Analyst,Publicis Groupe,1-7 Yrs,Not disclosed,Bangalore/Bengaluru
8,Senior Associate - Data Analyst,Sapient,4-6 Yrs,Not disclosed,Bangalore/Bengaluru
9,Senior Associate - Data Analyst,Publicis Groupe,1-3 Yrs,Not disclosed,Bangalore/Bengaluru

# question 2

In [124]:
jobtitles=[]
jobLocation=[]
companyName=[]
fulljobdesc=[]

first get the webpage https://www.naukri.com/

In [152]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")
url2='https://www.naukri.com/'
driver.get(url2)

Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
“Bangalore” in “enter the location” field.

In [132]:
search_job2=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job2.send_keys("Data Scientist")

search_loc2=driver.find_element_by_id('qsb-location-sugg')
search_loc2.send_keys("Bangalore")

click the search button.

In [133]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

scrape the data for the first 10 jobs results you get

In [134]:

#scrape data from job openings

job_opening_urls=[]

url=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

for i in url[:10]:
    job_opening_urls.append(i.get_attribute('href'))
job_opening_urls


for i in job_opening_urls:
    driver.get(i)
    try:
        job_title=driver.find_elements_by_xpath("//h1[@class='jd-header-title']")
        for j in job_title:
            jobtitles.append(j.text.replace("\n"," "))
            
    except:
        pass

In [135]:
jobtitles

['Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr Data Scientist, Payments',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr Data Scientist, Payments',
 'Senior Data Scientist']

In [153]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")
url2='https://www.naukri.com/'
driver.get(url2)

search_job2=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job2.send_keys("Data Scientist")

driver.implicitly_wait(10)

search_loc2=driver.find_element_by_id('qsb-location-sugg')
search_loc2.send_keys("Bangalore")

driver.implicitly_wait(10)

search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

driver.implicitly_wait(10)
    
#scrape data from job openings

job_opening_urls=[]

url=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

for i in url[:10]:
    job_opening_urls.append(i.get_attribute('href'))
job_opening_urls


for i in job_opening_urls:
    driver.get(i)
    try:
        company_name_title=driver.find_elements_by_xpath("//a[@class='pad-rt-8']")
        for k in company_name_title:
            companyName.append(k.text.replace("\n"," "))
    except:
        pass

In [154]:
companyName

['24/7 Customer',
 '3.6(1198 Reviews)',
 '',
 '',
 'Fractal Analytics',
 '3.9(97 Reviews)',
 '',
 '',
 'Nielsen',
 '3.8(483 Reviews)',
 '',
 '',
 'Wipro Limited',
 '3.8(12632 Reviews)',
 '',
 '',
 'Pluto7',
 '',
 'Gojek Tech',
 '',
 'GO-JEK India',
 '4.4(5 Reviews)',
 '',
 '',
 'Publicis Groupe',
 '3.4(64 Reviews)',
 '',
 '',
 'AIRBNB GLOBAL CAPABILITY CENTER PRIVATE LIMITED',
 '',
 'Lendingkart Finance Limited',
 '3.0(128 Reviews)',
 '',
 '',
 '24/7 Customer',
 '3.6(1198 Reviews)',
 '',
 '',
 'Fractal Analytics',
 '3.9(97 Reviews)',
 '',
 '',
 'Nielsen',
 '3.8(483 Reviews)',
 '',
 '',
 'Wipro Limited',
 '3.8(12632 Reviews)',
 '',
 '',
 'Pluto7',
 '',
 'Gojek Tech',
 '',
 'GO-JEK India',
 '4.4(5 Reviews)',
 '',
 '',
 'Publicis Groupe',
 '3.4(64 Reviews)',
 '',
 '',
 'AIRBNB GLOBAL CAPABILITY CENTER PRIVATE LIMITED',
 '',
 'Lendingkart Finance Limited',
 '3.0(128 Reviews)',
 '',
 '',
 '24/7 Customer',
 '',
 'Fractal Analytics',
 '',
 'Nielsen',
 '',
 'Wipro Limited',
 '',
 'Pluto7',
 '',
 'Gojek Tech',
 '',
 'GO-JEK India',
 '',
 'Publicis Groupe',
 '',
 'AIRBNB GLOBAL CAPABILITY CENTER PRIVATE LIMITED',
 '',
 'Lendingkart Finance Limited',
 '']

In [190]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")
url2='https://www.naukri.com/'
driver.get(url2)

In [191]:
salarytitles

['Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed',
 'Not Disclosed']

In [194]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")
url2='https://www.naukri.com/'
driver.get(url2)

search_job2=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job2.send_keys("Data Scientist")

driver.implicitly_wait(10)

search_loc2=driver.find_element_by_id('qsb-location-sugg')
search_loc2.send_keys("Bangalore")

driver.implicitly_wait(10)

search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

driver.implicitly_wait(10)
    
#scrape data from job openings

job_opening_urls=[]

url=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

for i in url[:10]:
    job_opening_urls.append(i.get_attribute('href'))
job_opening_urls


for i in job_opening_urls:
    driver.get(i)
    try:
        full_job_desc=driver.find_elements_by_xpath("//section[@class='job-desc']")
        for n in full_job_desc:
            fulljobdesc.append(n.text.replace("\n"," "))
    except:
        pass

In [195]:
fulljobdesc

['Job description Brief about the Role The Platforms team of the Data Science Group at [24]7.ai builds scalable AI to aid in conversational AI, agent assist solutions, and ad personalization for the Cloud. We are looking for a highly motivated and qualified data scientist to build some of our AI initiatives. This role is ideal for candidates with strong, hands-on skills in machine learning and natural language processing. Educational Qualifications: Bachelors, Master’s or PhD degree from reputed universities or institutes in one of the following disciplines: Artificial Intelligence / Machine Learning Data Science Cognitive Computing Computational Linguistics Computer Science Requirements 4+ years of experience with general purpose programming languages e.g., Python, C/C++, Java 4+ years of hands-on experience in machine learning Experience in various deep learning models, e.g., transformers, LSTMs, RNNs Experience in solving problems related to Natural Language Processing (NLP), Natural Language Understanding (NLU), and Natural Language Generation (NLG) Experience with machine learning platforms such as TensorFlow, TensorFlow Extended, PyTorch Experience building and deploying machine learning models on the Cloud (Google Cloud, Azure, AWS) Experience with production architecture of machine learning systems Good to have exposure to conversational AI, AI-based question-answering systems, AI-based compliance and monitoring systems, and ad personalization Good to have exposure to MLOps pipelines and Kubeflow Excellent communication skills Ability to collaborate cross-functionally Good presentation skills Attention to detail Responsibilities Collaborate with the Engineering and Product teams to implement machine learning models into the products and offerings of [24]7.ai Collaborate with your team members. Be responsible for implementing the machine learning models, testing them, refining them, and taking them to production Collaborate within the Data Science Group to review and refine your work to ensure the highest quality Take end-to-end ownership of AI initiatives Proactively discuss ideas for feature enhancements with the data science leadership and product leadership RoleTechnical Architect Industry TypeIT Services & Consulting Functional AreaIT Software - Other Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :B.Tech/BE in Computers PG :M.Tech/ME in Computers Key Skills Computer sciencedata scienceArtificial IntelligenceMachine learningLinguisticsNatural language processingNew product developmentCustomer experienceMonitoringPython',
 'Job description The Artificial Intelligence and Machine Learning (AIML) group at Fractal Analytics is actively involved in helping Fortune 500 companies by enabling them to discover how they can leverage their data using advanced and sophisticated AI/ML algorithms for which we are looking for Data Scientists with the capability to work on independent statistical and machine learning research/ projects. If you are a problem solver with a curiosity for exploring new techniques and technologies in AIML space, then we would like to talk with you. Job Responsibilities Ability to understand a problem statement and implement analytical solutions techniques independently with independently / proactively / thought-leadership. Work with stakeholders throughout the organization to identify opportunities for leveraging company/client data to drive business solutions. Fast learner: ability to learn and pick up a new language/tool/ platform quickly. Conceptualize, design, and deliver high-quality solutions and insightful analysis. Conduct research and prototyping innovations; data and requirements gathering; solution scoping and architecture; consulting clients and client facing teams on advanced statistical and machine learning problems. Collaborate and Coordinate with different functional teams(engineering and product development) to implement models and monitor outcomes. Ability to deliver AIML based solutions around a host of domains and problems, with some of them being: Customer Segmentation Targeting, Propensity Modeling, Churn Modeling, Lifetime Value Estimation, Forecasting, Recommender Systems, Modeling Response to Incentives, Marketing Mix Optimization, Price Optimization Experience Required: Expert level proficiency in at least one of R and Python. Ability to create efficient solutions to complex problems. Strong skills in data-structures and ML algorithms. Experience of working on end-to-end data science pipeline: problem scoping, data gathering, EDA, modelling, insights, visualizations, monitoring and maintenance. Problem-solving: Ability to break the problem into small parts and applying relevant techniques to drive required outcomes. Intermediate to advanced knowledge of machine learning, probability theory, statistics, and algorithms. You will be required to discuss and use various algorithms and approaches on a daily basis. We use regression, Bayesian methods, tree-based learners, SVM, RF, XGBOOST, time series modeling, dimensionality reduction, SEM, GLM, GLMM, clustering, Deep learning etc. on a regular basis. If you know few of them you are good to go. Good to Have: Experience in one of the upcoming technologies like deep learning, NLP, image processing, recommender systems Experience of working in on one or more domains: CPG: pricing and promotion analytics, marketing analytics, trade promotions, supply chain management BFSI: cross-sell, up-sell, campaign analytics, treasury analytics, fraud detection Healthcare: medical adherence, medical risk profiling, EHR data, fraud-waste-abuse Experience in working with Linux computing environment and use of command line tools like sed/awk Good grasp on databases including RDBMS, NoSQL, MongoDB etc. Education Qualification B.Tech / M.Tech in Computer Science / Mathematics / Signal Processing or related fields. RoleTechnical Architect Industry TypeManagement Consulting Functional AreaIT Software - Application Programming, Maintenance Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :B.Tech/BE in Production/Industrial PG :M.Tech/ME in Electronics and Telecommunication Key Skills Supply chain managementLinuxRFRDBMSBfsiConsultingData structuresHealthcareSEMPython',
 'Job description ABOUT THIS JOB NielsenIQ Advanced Analytics team develops and promotes a portfolio of global products. Leveraging NielsenIQs unparalleled data and global platforms, the Advanced Analytics team creates solutions to enable our clients to make better business decisions every day.  We partner with Product Owners and Core Technology Teams to build scalable, always on,  analytic products using relevant modeling/ML techniques. We’re looking for a passionate and talented Senior Data Scientist to join our growing team. In this role, you’ll have the chance to roll up your sleeves and apply data science methods and analytics to sustain NielsenIQ Analytics growth. Successful candidates are intellectually curious builders and active learners who are biased toward action, new problem solving. Roles & Responsibilities : Understand business issues, stakeholder requirement and expectations Perform relevant modeling analysis and POC exploring multiple techniques Ensure Analytics model quality Document and present findings and recommendations on methodology in a structured way to various stakeholder or partnering teams (Engineering, Tech, Product leader). Work closely with the Engineering and Tech team to convert those POC into fully scalable products. Active and effective collaboration with other project team members (other Data Scientist, Data Steward, Technology Engineer) Collaboratively manage projects from timeline creation to project completion, managing expectations with leaders and colleagues Encourage team building, best practices sharing especially with more junior team members. Stay abreast of developments in the area to ensure bringing the most appropriate solutions to our business About You You’ve built a decent track record in research and data analytics. And you have the communication chops to translate it all into conversations. While you’ve worked with global cross-functional teams, you can also put your head down and focus on independent projects. Seeing the big picture takes attention to detail. Keeping up with the fast-changing world of technology takes someone who recognizes that. You know what’s happening in big data and you’re ready to influence what’s next. Qualifications Masters degree in Data Sciences, mathematics or a closely related field 3 to 5 years of experience as a Data Scientist in the business Strong knowledge of statistical modelling, machine learning. Experience in machine learning, supervised and unsupervised: Forecasting, Classification, Data/Text Mining, NLP, Decision Trees, Adaptive Decision Algorithms, Random Forest, Search Algorithms, Neural Networks, Deep Learning Algorithms Experience with Optimisation techniques: linear programming, integer programming, genetic algorithm, constrained optimisation Experience in working on distributed or cloud computing platforms such as Google Cloud or Microsoft Azure Proficiency in Data Science coding languages like Python, PySpark, SQL, R in a cloud environment like DataBricks Experience using collaborative development tools (git). Experience working with Agile methodologies (SCRUM) Strong problem solving and excellent communication skills, independent working style Experience in an FMCG company is a strong plus  RoleTechnical Architect Industry TypeAnalytics / KPO / Research Functional AreaIT Software - Application Programming, Maintenance Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :Any Graduate Key Skills Data ScienceRNLPNeural NetworksStatistical ModelingText MiningMachine LearningDeep LearningPythonRandom Forest',
 'Job description Role: Data Scientist  Roles and Responsibilities Suitable candidates will be part of Wipro Digital-Intelligent Enterprise practice. The role entails leveraging Data Science and Machine Learning to solve typical problems within an organization and create IP that could be deployed in a productized mode. This will entail significant hands-on work on multiple Big Data Technologies, Data Analysis, Identifying data patterns, ML models, Insights generation. The role entails deployment in a customer context and managing customer expectations.  Technical Skills Required: Hands on with Python or R Analytics using industry leading BI tools and technologies Implementation knowledge of supervised\\un-supervised machine learning algorithms Good statistical analysis skills for data pre-processing and data wrangling Experienced in using big data frameworks like Hadoop Knowledge of business intelligence tools or reporting tools  Data Preparation for Modeling Missing Data Imputation,Outlier Treatment Scaling, Normalization, Standardization Encoding for Categorical Variables Oversampling\\Undersampling for reducing class imbalance  Experience in building solutions using Model Library Feature Selection Tree-based Ensemble Models Gradient\\Adaptive Boosted Trees Hyper-parameter tuning Building Prediction mechanisms using methods like Logistic regression, voting classifier stacking etc  RoleData Analyst Industry TypeIT Services & Consulting Functional AreaAnalytics & Business Intelligence Employment TypeFull Time, Permanent Role CategoryAnalytics & BI Education UG :B.Tech/BE in Any Specialization Key Skills Big DataMachine LearningPython Data ScienceRLogistic RegressionData WranglingHadoopData AnalysisStatistical Analysis Skills highlighted with ‘‘ are preferred keyskills',
 'Job description Responsibilities: Build and Optimize Machine Learning models. Work with large/complex datasets to solve difficult and non-routine analysis problems, applying advanced analytical methods as needed. Build and prototype data pipelines for analysis at scale. Work cross-functionally with Business Analysts and Data Engineers to help develop cutting edge and innovative artificial intelligence and machine learning models. Make recommendations for selections on machine learning models. Drive accuracy levels to the next stage of the given ML models. Experience in developing visualization and User Good exposure in exploratory data analysis Strong experience in Statistics and ML algorithms. Minimum qualifications: (2-4) years of relevant work experience in ML and advanced data analytics(e.g., as a Machine Learning Specialist / Data scientist ). Strong Experience using machine learning and artificial intelligence frameworks such as Tensorflow, sci-kit learn, Keras using python. Good in Python/R/SAS programming. Understanding of Cloud platforms like GCP, AWS, or other. Preferred qualifications: Work experience in building data pipelines to ingest, cleanse and transform data. Applied experience with machine learning on large datasets and experience translating analysis results into business recommendations. Demonstrated skills in selecting the right statistical tools given a data analysis problem. Demonstrated effective written and verbal communication skills. Demonstrated willingness to both teach others and learn new techniques RoleSoftware Developer Industry TypeManagement Consulting Functional AreaIT Software - System Programming Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :B.Tech/BE in Any Specialization PG :Any Postgraduate Key Skills SANERPData analysisPrototypeMachine learningHealthcareApplication developmentciscoAnalyticsPython',
 'Job description As our Senior Data Scientist, youll be an integral player in the Marketplace Data Science team based in Bengaluru. With the latest cutting-edge data science tech at your disposal, youll focus your efforts on bringing our Marketplace systems (i.e. supply, demand, and pricing) to the next level, employing various quantitative techniques such as Machine Learning, Optimization, Simulation, Bayesian Techniques to drive asymmetric values for our businesses at Gojek. Youll be heavily involved in ideation, research, and building prototypes, and the folks in the Data Science Platform will bring your models to production. Your efforts will directly influence the stability and scalability of Gojeks Marketplace stream, and thus to companys top and bottom line as a whole.   What You Will Do Work with Data Scientists, Machine Learning Engineers, and Business Users to build, deploy, and scale Data Science solutions on match-making, supply, pricing problems in Gojek that touch the company s baseline Use your experience in Data Science, Machine Learning, Software Engineering, distributed systems to develop these systems, and work with the platform team to take the systems to production Work with Business teams to continuously refine and improve the systems to cater to ever-changing Gojek needs Design and develop world class Data Science solutions to enhance the current stack of Marketplace algorithms for supply, demand, pricing What You Will Need At least 6 years of experience as a Data Scientist or Machine Learning Engineer, with experience in Python, Golang/Java, and Unix A Bachelors Degree in Computer Science, Statistics, Operations Research, or a relevant quantitative field Solid knowledge of Data Science and Machine Learning fundamentals, with proven experience formulating Data Science solutions to business problems Proven ability to recognize business needs and to communicate with multiple stakeholders within the Product Management, Business and Operations teams Experience in taking Data Science models to production Prior academic or industry work experience with forecasting methods like auto-regressive models, Markov models, and Kernel-based methods Prior experience with simulations for modeling the stochastic nature of marketplace supply and demand, and knowledge of the transportation and mobility space RoleTeam Lead/Technical Lead Industry TypeInternet Functional AreaIT Software - eCommerce, Internet Technologies Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :Any Graduate PG :Any Postgraduate Key Skills UnixProduct managementComputer scienceOperations researchSimulationMachine learningDistribution systemForecastingPythonLogistics',
 'Job description As our Senior Data Scientist, youll be an integral player in the Marketplace Data Science team based in Bengaluru. With the latest cutting-edge data science tech at your disposal, youll focus your efforts on bringing our Marketplace systems (i.e. supply, demand, and pricing) to the next level, employing various quantitative techniques such as Machine Learning, Optimization, Simulation, Bayesian Techniques to drive asymmetric values for our businesses at Gojek. Youll be heavily involved in ideation, research, and building prototypes, and the folks in the Data Science Platform will bring your models to production. Your efforts will directly influence the stability and scalability of Gojeks Marketplace stream, and thus to companys top and bottom line as a whole.   What You Will Do Work with Data Scientists, Machine Learning Engineers, and Business Users to build, deploy, and scale Data Science solutions on match-making, supply, pricing problems in Gojek that touch the company s baseline Use your experience in Data Science, Machine Learning, Software Engineering, distributed systems to develop these systems, and work with the platform team to take the systems to production Work with Business teams to continuously refine and improve the systems to cater to ever-changing Gojek needs Design and develop world class Data Science solutions to enhance the current stack of Marketplace algorithms for supply, demand, pricing What You Will Need At least 6 years of experience as a Data Scientist or Machine Learning Engineer, with experience in Python, Golang/Java, and Unix A Bachelors Degree in Computer Science, Statistics, Operations Research, or a relevant quantitative field Solid knowledge of Data Science and Machine Learning fundamentals, with proven experience formulating Data Science solutions to business problems Proven ability to recognize business needs and to communicate with multiple stakeholders within the Product Management, Business and Operations teams Experience in taking Data Science models to production Prior academic or industry work experience with forecasting methods like auto-regressive models, Markov models, and Kernel-based methods Prior experience with simulations for modeling the stochastic nature of marketplace supply and demand, and knowledge of the transportation and mobility space RoleTeam Lead/Technical Lead Industry TypeIT Services & Consulting Functional AreaIT Software - eCommerce, Internet Technologies Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :Any Graduate PG :Any Postgraduate Key Skills UnixProduct managementComputer scienceOperations researchSimulationMachine learningDistribution systemForecastingPythonLogistics',

In [196]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=jobtitles[:10]   
jobs['company']=companyName[:10]  
jobs['Job description']=fulljobdesc[:10]   
jobs['salary']=salarytitles[:10] 


jobs

,title,company,Job description,salary
0,Senior Data Scientist,24/7 Customer,Job description Brief about the Role The Platf...,Not Disclosed
1,Senior Data Scientist,3.6(1198 Reviews),Job description The Artificial Intelligence an...,Not Disclosed
2,Senior Data Scientist,Fractal Analytics,Job description ABOUT THIS JOB NielsenIQ Advan...,Not Disclosed
3,Data Scientist,3.9(97 Reviews),Job description Role: Data Scientist Roles an...,Not Disclosed
4,Senior Data Scientist,,Job description Responsibilities: Build and Op...,Not Disclosed
5,Senior Data Scientist,,"Job description As our Senior Data Scientist, ...",Not Disclosed
6,Senior Data Scientist,Nielsen,"Job description As our Senior Data Scientist, ...",Not Disclosed
7,Senior Data Scientist,3.8(483 Reviews),Job description Epsilon India team is looking ...,Not Disclosed
8,"Sr Data Scientist, Payments",,Job description The Challenge Be a thought lea...,Not Disclosed
9,Senior Data Scientist,,Job description Building Machine learning mode...,Not Disclosed

# Question 3

first get the webpage https://www.naukri.com/

In [206]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")
url='https://www.naukri.com/'
driver.get(url)

Enter “Data Scientist” in “Skill,Designations,Companies” field .

In [207]:
search_job=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_job.send_keys("Data Scientist")

click the search button.

In [211]:
search_btn=driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

apply the location filter-“Delhi/NCR”

In [213]:
search_btn1=driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
search_btn1.click()

apply the salary filter to be used: “3-6” lakhs

In [214]:
search_btn2=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p/span[1]")
search_btn2.click()

 Then scrape the data for the first 10 jobs results you get.

In [215]:
#job title
alltitle=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

job_titles=[]
for i in alltitle:
    job_titles.append(i.text)


#company
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

companies_tags_titles=[]
for i in companies_tags:
    companies_tags_titles.append(i.text)


#experience
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

experience_tags_titles=[]
for i in experience_tags:
    experience_tags_titles.append(i.text)


#Location
location_title=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")

location_tags_titles=[]
for i in location_title:
    location_tags_titles.append(i.text)
    


#salary
salary_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']//span")


salary_tags_titles=[]
for i in salary_tags:
    salary_tags_titles.append(i.text)

In [216]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=companies_tags_titles[:10]
jobs['experience']=experience_tags_titles[:10]
jobs['salary']=salary_tags_titles[:10]
jobs['place']=location_tags_titles[:10]

jobs

,title,company,experience,salary,place
0,Data Scientist - Machine Learning/ NLP,TalPro,2-6 Yrs,Not disclosed,Gurgaon/Gurugram
1,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,0-0 Yrs,"2,25,000 - 4,75,000 PA.","Noida, Gurgaon/Gurugram, Delhi / NCR"
2,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"3,50,000 - 4,50,000 PA.","Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
3,Data Scientist -Delhi,CHANGE LEADERS CONSULTING,5-8 Yrs,Not disclosed,New Delhi
4,Data Scientist - Text NLP | Noida,Acidaes Solutions Pvt. Ltd.,3-5 Yrs,Not disclosed,Noida
5,Data Scientist,NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs,Not disclosed,Noida
6,Data Scientist - Machine Learning/NLP,TalPro,2-6 Yrs,Not disclosed,Gurgaon/Gurugram
7,Data Scientist - Machine Learning/NLP,TalPro,2-4 Yrs,Not disclosed,Gurgaon/Gurugram
8,Data analytics / Data scientist intern (work f...,TalkValley LLC,0-5 Yrs,"2,00,000 - 3,00,000 PA.","Kolkata, Bangalore/Bengaluru, Delhi / NCR"
9,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs,Not disclosed,New Delhi

# Question 4

get the webpage https://www.glassdoor.co.in/index.htm

In [5]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")
url='https://www.glassdoor.co.in/index.htm'
driver.get(url)

sign in

In [ ]:
driver.implicitly_wait(10)
sign_in_btn=driver.find_element_by_xpath("//div[@class='d-flex justify-content-center order-1 order-md-2 LockedHomeHeaderStyles__flexibleContainer']//button")
sign_in_btn.click()

username:aneeshabsoman123@gmail.com

password:fliprobo2021

In [ ]:

username=driver.find_element_by_xpath('//input[@id="userEmail"]')
username.send_keys("aneeshabsoman123@gmail.com")

In [104]:
password=driver.find_element_by_xpath('//input[@id="userPassword"]')
password.send_keys("fliprobo2021")

In [105]:
sign_in_btn=driver.find_element_by_xpath("//button[@class='gd-ui-button minWidthBtn css-8i7bc2']")
sign_in_btn.click()

 Enter “Data Scientist” in “Job Title,Keyword,Company” field

In [6]:
search_job=driver.find_element_by_xpath('//div[@class="col headerSearchInput css-1ohf0ui"]//div//input')
search_job.send_keys("Data Scientist")

enter “Noida” in “location” field.

In [7]:

search_place=driver.find_element_by_xpath('/html/body/header/nav[1]/div/div/div/div[4]/div[2]/form/div/div[3]/div/input')
search_place.clear()
search_place.send_keys("Noida")

 click the search button

In [8]:

search_btn=driver.find_element_by_xpath("/html/body/header/nav[1]/div/div/div/div[4]/div[2]/form/div/button")
search_btn.click()

In [15]:
#job title
alltitle=driver.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']")

job_titles=[]
for i in alltitle:
    job_titles.append(i.text)

In [14]:
job_titles

['Data Analyst',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - QuantumBlack',
 'Data Scientist',
 'Data Scientist',
 'Machine Learning Engineer/ Data Scientist',
 'Data Scientist',
 'Data Scientists',
 'Data Scientist',
 'Jr. Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist-AI and Digital Lab',
 'Data Scientist']

In [17]:
#company
companies_tags=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']//span")

companies_tags_titles=[]
for i in companies_tags:
    companies_tags_titles.append(i.text)

In [18]:
companies_tags_titles

['Taboola',
 'Ericsson',
 'Jubna',
 'Siemens Technology and Services Private Limited',
 'Techlive',
 'Biz2Credit Inc',
 'Priority Vendor',
 'Crowe',
 'Innovacer',
 'Data Patterns',
 'Gauge Data Solutions',
 'Lantern Digital Services',
 'Salasar New Age Technologies',
 'WishFin',
 'xtLytics',
 'MobiKwik',
 'ADCI - Haryana',
 'SearchUrCollege',
 'McKinsey & Company',
 'Wobb.ai',
 'MasterCard',
 'Dürr Somac GmbH',
 'Team Computers',
 'Jubna',
 'Ank Aha',
 'xtLytics',
 '',
 'Analytics Vidhya',
 'The Luxury Closet',
 'CSTEP',
 'Mount Talent Consulting']

In [19]:
#Location
location_title=driver.find_elements_by_xpath("//span[@class='pr-xxsm css-1ndif2q e1rrn5ka0']")

location_tags_titles=[]
for i in location_title:
    location_tags_titles.append(i.text)

In [20]:
location_tags_titles

['New Delhi',
 'Noida',
 'Noida',
 'Gurgaon',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Gurgaon',
 'Gurgaon',
 'Noida',
 'Gurgaon',
 'New Delhi',
 'Gurgaon',
 'Noida',
 'New Delhi',
 'Noida',
 'New Delhi',
 'Noida',
 'Gurgaon',
 'Gurgaon',
 'Gurgaon',
 'Noida',
 'Gurgaon']

In [22]:
#salary
salary_tags=driver.find_elements_by_xpath("//span[@class='css-1imh2hq e1wijj242']")


salary_tags_titles=[]
for i in salary_tags:
    salary_tags_titles.append(i.text)

In [23]:
salary_tags_titles

['₹426K - ₹708K (Glassdoor Est.)',
 '₹300K - ₹864K (Glassdoor Est.)',
 '₹500K - ₹720K (Glassdoor Est.)',
 '₹300K - ₹850K (Glassdoor Est.)',
 '₹636K - ₹915K (Glassdoor Est.)',
 '₹500K - ₹816K (Glassdoor Est.)',
 '₹300K - ₹720K (Glassdoor Est.)',
 '₹749K - ₹836K (Glassdoor Est.)',
 '₹729K - ₹909K (Glassdoor Est.)',
 '₹144K - ₹675K (Glassdoor Est.)',
 '₹275K - ₹400K (Glassdoor Est.)',
 '₹500K - ₹715K (Glassdoor Est.)']

In [24]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=companies_tags_titles[:10]
jobs['salary']=salary_tags_titles[:10]
jobs['place']=location_tags_titles[:10]

jobs

,title,company,salary,place
0,Data Analyst,Taboola,₹426K - ₹708K (Glassdoor Est.),New Delhi
1,Data Scientist,Ericsson,₹300K - ₹864K (Glassdoor Est.),Noida
2,Data Scientist,Jubna,₹500K - ₹720K (Glassdoor Est.),Noida
3,Data Scientist,Siemens Technology and Services Private Limited,₹300K - ₹850K (Glassdoor Est.),Gurgaon
4,Data Scientist,Techlive,₹636K - ₹915K (Glassdoor Est.),Noida
5,Data Scientist,Biz2Credit Inc,₹500K - ₹816K (Glassdoor Est.),Noida
6,Data Scientist,Priority Vendor,₹300K - ₹720K (Glassdoor Est.),Noida
7,Data Scientist,Crowe,₹749K - ₹836K (Glassdoor Est.),Noida
8,Data Scientist,Innovacer,₹729K - ₹909K (Glassdoor Est.),Noida
9,Data Scientist,Data Patterns,₹144K - ₹675K (Glassdoor Est.),Noida

# Question 5

first get the webpage https://www.glassdoor.co.in/Salaries/index.htm

In [25]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")
url='https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

driver.implicitly_wait(10)
sign_in_btn=driver.find_element_by_xpath("//div[@class='d-flex justify-content-center order-1 order-md-2 LockedHomeHeaderStyles__flexibleContainer']//button")
sign_in_btn.click()

username=driver.find_element_by_xpath('//input[@id="userEmail"]')
username.send_keys("aneeshabsoman123@gmail.com")

driver.implicitly_wait(5)

password=driver.find_element_by_xpath('//input[@id="userPassword"]')
password.send_keys("fliprobo2021")

driver.implicitly_wait(5)

sign_in_btn=driver.find_element_by_xpath("//button[@class='gd-ui-button minWidthBtn css-8i7bc2']")
sign_in_btn.click()

Enter “Data Scientist” in Job title field and “Noida” in location field.

In [28]:
search_job=driver.find_element_by_xpath('//input[@id="KeywordSearch"]')
search_job.send_keys("Data Scientist")

In [29]:
search_place=driver.find_element_by_xpath('//input[@id="LocationSearch"]')
search_place.send_keys("Noida")

click the search button

In [30]:
search_btn=driver.find_element_by_xpath('//button[@id="HeroSearchButton"]')
search_btn.click()

In [44]:

#company
companiesdetails_tags=driver.find_elements_by_xpath("//div[@class='d-flex']//div//p")

companiesdetails_tags_titles=[]
for i in companiesdetails_tags:
    companiesdetails_tags_titles.append(i.text)

In [55]:
companiesdetails_tags_titles

['Data Scientist',
 'IBM',
 '₹9,00,000/yr',
 'Range: ₹6L - ₹27L',
 '18 salaries',
 'See 133 salaries from all locations',
 'Data Scientist',
 'Tata Consultancy Services',
 '₹6,15,289/yr',
 'Range: ₹3L - ₹13L',
 '17 salaries',
 'See 132 salaries from all locations',
 'Data Scientist',
 'Accenture',
 '₹11,63,336/yr',
 'Range: ₹6L - ₹22L',
 '15 salaries',
 'See 69 salaries from all locations',
 'Data Scientist',
 'Delhivery',
 '₹12,18,244/yr',
 'Range: ₹5L - ₹1Cr',
 '15 salaries',
 'See 21 salaries from all locations',
 'Data Scientist',
 'Ericsson-Worldwide',
 '₹7,39,238/yr',
 'Range: ₹4L - ₹16L',
 '14 salaries',
 'See 32 salaries from all locations',
 'Data Scientist',
 'UnitedHealth Group',
 '₹13,38,279/yr',
 'Range: ₹11L - ₹15L',
 '11 salaries',
 'See 20 salaries from all locations',
 'Data Scientist',
 'Valiance Solutions',
 '₹8,63,750/yr',
 'Range: ₹5L - ₹15L',
 '10 salaries',
 'See 12 salaries from all locations',
 'Data Scientist',
 'Optum Global Solutions',
 '₹13,28,697/yr',
 'Range: ₹4L - ₹22L',
 '9 salaries',
 'See 13 salaries from all locations',
 'Data Scientist',
 'ZS Associates',
 '₹11,42,356/yr',
 'Range: ₹2L - ₹18L',
 '8 salaries',
 'See 21 salaries from all locations',
 'Data Scientist',
 'EXL Service',
 '₹11,46,073/yr',
 'Range: ₹6L - ₹15L',
 '8 salaries',
 'See 10 salaries from all locations',
 'Data Scientist',
 'Optum',
 '₹13,20,960/yr',
 'Range: ₹8L - ₹20L',
 '8 salaries',
 'See 24 salaries from all locations',
 'Data Scientist',
 'Innovaccer',
 '₹12,09,040/yr',
 'Range: ₹6L - ₹17L',
 '8 salaries',
 'See 12 salaries from all locations',
 'Data Scientist',
 'Cognizant Technology Solutions',
 '₹10,09,021/yr',
 'Range: ₹8L - ₹13L',
 '6 salaries',
 'See 65 salaries from all locations',
 'Data Scientist',
 'Nagarro',
 '₹9,92,632/yr',
 'Range: ₹4L - ₹16L',
 '6 salaries',
 'See 6 salaries from all locations',
 'Data Scientist',
 'dunnhumby',
 '₹10,55,478/yr',
 'Range: ₹8L - ₹20L',
 '6 salaries',
 'See 9 salaries from all locations',
 'Data Scientist - Monthly',
 'Vidooly Media Tech',
 '₹34,157/mo',
 'Range: ₹12T - ₹63T',
 '6 salaries',
 'See 13 salaries from all locations',
 'Data Scientist',
 'Tech Mahindra',
 '₹10,54,402/yr',
 'Range: ₹4L - ₹17L',
 '5 salaries',
 'See 26 salaries from all locations',
 'Data Scientist',
 'OYO',
 '₹14,15,338/yr',
 'Range: ₹10L - ₹19L',
 '5 salaries',
 'See 12 salaries from all locations',
 'Data Scientist',
 'R Systems',
 '₹18,40,134/yr',
 'Range: ₹8L - ₹30L',
 '5 salaries',
 'See 5 salaries from all locations',
 'Data Scientist',
 'CARS24.com',
 '₹10,00,000/yr',
 'Range: ₹9L - ₹15L',
 '5 salaries',
 'See 5 salaries from all locations']

 Company name

In [41]:
companies_tags_new=[]

for i in range(1,len(companies_tags_titles),6):
    companies_tags_new.append(companies_tags_titles[i])
    
companies_tags_new

['IBM',
 'Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Optum Global Solutions',
 'ZS Associates',
 'EXL Service',
 'Optum',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'Nagarro',
 'dunnhumby',
 'Vidooly Media Tech',
 'Tech Mahindra',
 'OYO',
 'R Systems',
 'CARS24.com']

Number of salaries

In [47]:

Number_of_salaries=[]

for i in range(1,len(companiesdetails_tags_titles),6):
    Number_of_salaries.append(companiesdetails_tags_titles[i+3])

In [48]:
Number_of_salaries

['18 salaries',
 '17 salaries',
 '15 salaries',
 '15 salaries',
 '14 salaries',
 '11 salaries',
 '10 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries',
 '6 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries',
 '5 salaries']

Average salary

In [53]:
Averagesalary_tags_titles=[]

for i in range(1,len(companiesdetails_tags_titles),6):
    Averagesalary_tags_titles.append(companiesdetails_tags_titles[i+1])

In [54]:
Averagesalary_tags_titles

['₹9,00,000/yr',
 '₹6,15,289/yr',
 '₹11,63,336/yr',
 '₹12,18,244/yr',
 '₹7,39,238/yr',
 '₹13,38,279/yr',
 '₹8,63,750/yr',
 '₹13,28,697/yr',
 '₹11,42,356/yr',
 '₹11,46,073/yr',
 '₹13,20,960/yr',
 '₹12,09,040/yr',
 '₹10,09,021/yr',
 '₹9,92,632/yr',
 '₹10,55,478/yr',
 '₹34,157/mo',
 '₹10,54,402/yr',
 '₹14,15,338/yr',
 '₹18,40,134/yr',
 '₹10,00,000/yr']

Range

In [69]:
Range=[]

for i in range(1,len(companiesdetails_tags_titles),6):
    Range.append(companiesdetails_tags_titles[i+2])
    
Range

['Range: ₹6L - ₹27L',
 'Range: ₹3L - ₹13L',
 'Range: ₹6L - ₹22L',
 'Range: ₹5L - ₹1Cr',
 'Range: ₹4L - ₹16L',
 'Range: ₹11L - ₹15L',
 'Range: ₹5L - ₹15L',
 'Range: ₹4L - ₹22L',
 'Range: ₹2L - ₹18L',
 'Range: ₹6L - ₹15L',
 'Range: ₹8L - ₹20L',
 'Range: ₹6L - ₹17L',
 'Range: ₹8L - ₹13L',
 'Range: ₹4L - ₹16L',
 'Range: ₹8L - ₹20L',
 'Range: ₹12T - ₹63T',
 'Range: ₹4L - ₹17L',
 'Range: ₹10L - ₹19L',
 'Range: ₹8L - ₹30L',
 'Range: ₹9L - ₹15L']

Printing Dataframe

In [74]:
import pandas as pd
jobs=pd.DataFrame({})

jobs['company']=companies_tags_new[:10]
jobs['Number of salaries']=Number_of_salaries[:10]
jobs['Average salary']=Averagesalary_tags_titles[:10]
jobs['salary range']=Range[:10]



jobs

,company,Number of salaries,Average salary,salary range
0,IBM,18 salaries,"₹9,00,000/yr",Range: ₹6L - ₹27L
1,Tata Consultancy Services,17 salaries,"₹6,15,289/yr",Range: ₹3L - ₹13L
2,Accenture,15 salaries,"₹11,63,336/yr",Range: ₹6L - ₹22L
3,Delhivery,15 salaries,"₹12,18,244/yr",Range: ₹5L - ₹1Cr
4,Ericsson-Worldwide,14 salaries,"₹7,39,238/yr",Range: ₹4L - ₹16L
5,UnitedHealth Group,11 salaries,"₹13,38,279/yr",Range: ₹11L - ₹15L
6,Valiance Solutions,10 salaries,"₹8,63,750/yr",Range: ₹5L - ₹15L
7,Optum Global Solutions,9 salaries,"₹13,28,697/yr",Range: ₹4L - ₹22L
8,ZS Associates,8 salaries,"₹11,42,356/yr",Range: ₹2L - ₹18L
9,EXL Service,8 salaries,"₹11,46,073/yr",Range: ₹6L - ₹15L

# Question 6

Go to flipkart webpage by url https://www.flipkart.com/

In [81]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")
url=' https://www.flipkart.com/'
driver.get(url)

Enter “sunglasses” in the search field

In [82]:
productinput=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
productinput.send_keys("sunglasses")

 click the search icon

In [83]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()

1. Brand

2. Product Description

3. Price

4. Discount %

from 3 pages

In [97]:
for i in range(1,3):
    
    #brand name
    Brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

    Brand_tags_titles=[]
    for j in Brand_tags:
        Brand_tags_titles.append(j.text)
        
    #Product description    
    ProductDescription_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")

    ProductDescription_tags_titles=[]
    for k in ProductDescription_tags:
        ProductDescription_tags_titles.append(k.text)
        
    #price tag
    Price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

    Price_tags_titles=[]
    for l in Price_tags:
        Price_tags_titles.append(l.text)
        
    #discount
    Discount_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")

    Discount_tags_titles=[]
    for m in Discount_tags:
        Discount_tags_titles.append(m.text)
        
    next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
    next_button.click()
    time.sleep(2)

In [98]:
Brand_tags_titles

['Singco',
 'elegante',
 'PHENOMENAL',
 'Aligatorr',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'PIRASO',
 'ROYAL SON',
 'PIRASO',
 'ROYAL SON',
 'kingsunglasses',
 'CRIBA',
 'PHENOMENAL',
 'Fastrack',
 'NuVew',
 'ROYAL SON',
 'PIRASO',
 'PHENOMENAL',
 'Fastrack',
 'ROYAL SON',
 'PIRASO',
 'kingsunglasses',
 'GANSTA',
 'ROYAL SON',
 'Fastrack',
 'Poland',
 'Fastrack',
 'ROYAL SON',
 'PHENOMENAL',
 'HIPPON',
 'kingsunglasses',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Fastrack',
 'IRUS by IDEE',
 'AISLIN',
 'GANSTA',
 'Fravy',
 'Fastrack',
 'AISLIN']

In [99]:
 ProductDescription_tags_titles

['Mirrored Aviator Sunglasses (53)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'Mirrored, UV Protection Wayfarer, Wayfarer, Wayfarer, W...',
 'UV Protection, Night Vision, Riding Glasses Round Sungl...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (60)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (56)',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Round Sunglasses (56)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient Rectangular Sunglasses (57)',
 'UV Protection, Gradient Wayfarer Sunglasses (57)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection, Gradient, Night Vision Retro Square Sung...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (58)']

In [100]:
Price_tags_titles

['₹252',
 '₹199',
 '₹319',
 '₹199',
 '₹449',
 '₹349',
 '₹237',
 '₹699',
 '₹331',
 '₹379',
 '₹299',
 '₹250',
 '₹399',
 '₹1,010',
 '₹215',
 '₹479',
 '₹237',
 '₹399',
 '₹755',
 '₹799',
 '₹331',
 '₹249',
 '₹281',
 '₹699',
 '₹558',
 '₹162',
 '₹612',
 '₹664',
 '₹399',
 '₹225',
 '₹299',
 '₹1,415',
 '₹449',
 '₹738',
 '₹424',
 '₹625',
 '₹292',
 '₹339',
 '₹539',
 '₹500']

In [94]:
Discount_tags_titles

['53% off',
 '53% off',
 '88% off',
 '36% off',
 '78% off',
 '35% off',
 '85% off',
 '76% off',
 '34% off',
 '79% off',
 '80% off',
 '84% off',
 '77% off',
 '28% off',
 '76% off',
 '53% off',
 '73% off',
 '88% off',
 '78% off',
 '55% off',
 '18% off',
 '83% off',
 '83% off',
 '29% off',
 '79% off',
 '77% off',
 '79% off',
 '70% off',
 '83% off',
 '37% off',
 '79% off',
 '66% off',
 '41% off',
 '27% off',
 '84% off',
 '50% off',
 '78% off',
 '16% off',
 '74% off',
 '65% off']

In [102]:
import pandas as pd
product=pd.DataFrame({})

product['Product name']=Brand_tags_titles
product['Product description']= ProductDescription_tags_titles
product['price tag']=Price_tags_titles
product['discount']=Discount_tags_titles



product

,Product name,Product description,price tag,discount
0,Singco,Mirrored Aviator Sunglasses (53),₹252,74% off
1,elegante,UV Protection Round Sunglasses (Free Size),₹199,80% off
2,PHENOMENAL,UV Protection Clubmaster Sunglasses (Free Size),₹319,84% off
3,Aligatorr,UV Protection Spectacle Sunglasses (Free Size),₹199,60% off
4,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹449,77% off
5,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹349,78% off
6,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
7,ROYAL SON,UV Protection Retro Square Sunglasses (54),₹699,65% off
8,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹331,79% off
9,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
10,kingsunglasses,"Mirrored, UV Protection Wayfarer, Wayfarer, Wa...",₹299,80% off
11,CRIBA,"UV Protection, Night Vision, Riding Glasses Ro...",₹250,58% off
12,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
13,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,010",22% off
14,NuVew,UV Protection Aviator Sunglasses (58),₹215,72% off
15,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹479,76% off
16,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
17,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
18,Fastrack,UV Protection Shield Sunglasses (Free Size),₹755,16% off
19,ROYAL SON,"UV Protection, Gradient Retro Square Sunglasse...",₹799,60% off
20,PIRASO,UV Protection Aviator Sunglasses (58),₹331,87% off
21,kingsunglasses,"UV Protection, Mirrored Round Sunglasses (54)",₹249,79% off
22,GANSTA,UV Protection Aviator Sunglasses (57),₹281,78% off
23,ROYAL SON,UV Protection Retro Square Sunglasses (54),₹699,65% off
24,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹558,30% off
25,Poland,UV Protection Wayfarer Sunglasses (Free Size),₹162,67% off
26,Fastrack,"UV Protection, Polarized Wayfarer Sunglasses (56)",₹612,31% off
27,ROYAL SON,"Polarized, UV Protection Rectangular Sunglasse...",₹664,55% off
28,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
29,HIPPON,UV Protection Wayfarer Sunglasses (55),₹225,81% off
30,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,88% off
31,VINCENT CHASE,Polarized Round Sunglasses (56),"₹1,415",29% off
32,ROZZETTA CRAFT,"Gradient, UV Protection Round Sunglasses (Free...",₹449,77% off
33,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹738,26% off
34,IRUS by IDEE,Gradient Rectangular Sunglasses (57),₹424,67% off
35,AISLIN,"UV Protection, Gradient Wayfarer Sunglasses (57)",₹625,70% off
36,GANSTA,"UV Protection, Night Vision, Riding Glasses Av...",₹292,85% off
37,Fravy,"UV Protection, Gradient, Night Vision Retro Sq...",₹339,83% off
38,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹539,32% off
39,AISLIN,UV Protection Wayfarer Sunglasses (58),₹500,76% off

# Question 7

1. Rating

2. Review_summary

3. Full review

In [127]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")
url=' https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [128]:
allreview=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']//span")
allreview.click()

In [135]:
for i in range(1,3):
    #rating
    rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")

    rating_tags_titles=[]
    for j in rating_tags:
        rating_tags_titles.append(j.text)
        
    #Review_summary    
    Review_summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

    Review_summary_tags_titles=[]
    for k in Review_summary:
        Review_summary_tags_titles.append(k.text)
        
    #Full review
    Full_review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

    Full_review_tags_titles=[]
    for l in Full_review:
        Full_review_tags_titles.append(l.text)


next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']//span")
next_button.click

In [136]:
import pandas as pd
review=pd.DataFrame({})

review['rating']=rating_tags_titles
review['Review_summary']=Review_summary_tags_titles
review['Full review']=Full_review_tags_titles
review

,rating,Review_summary,Full review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Fabulous!,This is my first iOS phone. I am very happy wi...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
5,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
6,4,Good choice,So far it’s been an AMAZING experience coming ...
7,5,Simply awesome,Really satisfied with the Product I received.....
8,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
9,5,Perfect product!,It’s a must buy who is looking for an upgrade ...

# Question 8

Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :

1. Brand

2. Product Description

3. Price

4. discount %

In [137]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")
url='https://www.flipkart.com/'
driver.get(url)

In [139]:
productinput=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
productinput.send_keys("sneakers")
driver.implicitly_wait(5)

In [140]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn.click()
driver.implicitly_wait(5)

In [156]:
#brand name
Brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

Brand_tags_titles=[]
for j in Brand_tags:
    Brand_tags_titles.append(j.text)
Brand_tags_titles

['CALCADOS',
 'Robbie jones',
 'Alfiya',
 'Zixer',
 'PEHANOSA',
 'Shoes Bank',
 'BRUTON',
 'OZJI',
 'KULP',
 'Chevit',
 'World Wear Footwear',
 'Jumpink',
 'Robbie jones',
 'World Wear Footwear',
 'Kraasa',
 'Absolute comfort',
 'Nilatin',
 'Numenzo',
 'SCATCHITE',
 'U.S. POLO ASSN.',
 'HOTSTYLE',
 'bluemaker',
 'Stefano Rads',
 'India hub',
 'HOTSTYLE',
 'Chevit',
 'Robbie jones',
 'Chevit',
 'D-SNEAKERZ',
 'HOTSTYLE',
 'ASTEROID',
 'Chevit',
 'India hub',
 'Zsyto',
 'ESSENCE',
 'SPARX',
 'BRUTON',
 'kardam&sons',
 'SPARX',
 'Aircum']

In [158]:
#Product description    
ProductDescription_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")

ProductDescription_tags_titles=[]
for k in ProductDescription_tags:
    ProductDescription_tags_titles.append(k.text)
    
ProductDescription_tags_titles

['Casual Sneakers Shoes For Men Sneakers For Men',
 'Shoes in Black Color Party wear/Outdoor/Casual Shoes Fo...',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Combo Pack Of 4 Casual Sneakers For Men',
 'Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Sneakers For Men',
 'Combo Pack of 4 Latest Collection Stylish Casual Loafer...',
 'Series 7 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'LEBRON 2.0 Sneakers For Men',
 'Sneakers Sneakers For Men',
 'casual for men (blue 06) Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Sneakers For Men',
 'Perfect & Affordable Collection Combo Pack of 02 Shoes ...',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Latest & Stylish Design Combo Pack of 2 Pairs Sneakers ...',
 'Casuals Sneakers For Men',
 'SM-482 Sneakers For Men',
 'Combo Pack of 5 Casual Sneakers With Sneakers For Men',
 'SM-322 Sneakers For Men',
 'Men Combo Pack of 3 Casual Sneakers For Men']

In [165]:
#price tag and discount
Price_tags=driver.find_elements_by_xpath("//div[@class='_25b18c']//div")

Price_tags_titles_newlist=[]
Price_tags_titles=[]
Discount_tags_titles=[]

for l in Price_tags:
    Price_tags_titles.append(l.text)

In [166]:
 Price_tags_titles

['₹748',
 '₹1,996',
 '₹1248 off',
 '₹379',
 '₹999',
 '₹620 off',
 '₹377',
 '₹999',
 '₹622 off',
 '₹555',
 '₹999',
 '₹444 off',
 '₹499',
 '₹999',
 '₹500 off',
 '₹349',
 '₹999',
 '₹650 off',
 '₹474',
 '₹3,999',
 '₹3525 off',
 '₹520',
 '₹999',
 '₹479 off',
 '₹399',
 '₹999',
 '₹600 off',
 '₹759',
 '₹2,495',
 '₹1736 off',
 '₹240',
 '₹499',
 '₹259 off',
 '₹359',
 '₹999',
 '₹640 off',
 '₹449',
 '₹999',
 '₹550 off',
 '₹499',
 '₹2,640',
 '₹2141 off',
 '₹416',
 '₹999',
 '₹583 off',
 '₹298',
 '₹999',
 '₹701 off',
 '₹407',
 '₹1,299',
 '₹892 off',
 '₹378',
 '₹999',
 '₹621 off',
 '₹398',
 '₹999',
 '₹601 off',
 '₹2,399',
 '₹3,999',
 '₹1600 off',
 '₹283',
 '₹499',
 '₹216 off',
 '₹474',
 '₹999',
 '₹525 off',
 '₹242',
 '₹699',
 '₹457 off',
 '₹449',
 '₹2,999',
 '₹2550 off',
 '₹199',
 '₹499',
 '₹300 off',
 '₹470',
 '₹1,498',
 '₹1028 off',
 '₹474',
 '₹999',
 '₹525 off',
 '₹498',
 '₹1,598',
 '₹1100 off',
 '₹365',
 '₹659',
 '₹294 off',
 '₹283',
 '₹499',
 '₹216 off',
 '₹499',
 '₹1,999',
 '₹1500 off',
 '₹599',
 '₹1,298',
 '₹699 off',
 '₹449',
 '₹2,999',
 '₹2550 off',
 '₹358',
 '₹999',
 '₹641 off',
 '₹399',
 '₹999',
 '₹600 off',
 '₹989',
 '₹1,285',
 '₹296 off',
 '₹719',
 '₹3,999',
 '₹3280 off',
 '₹495',
 '₹1,999',
 '₹1504 off',
 '₹769',
 '₹999',
 '₹230 off',
 '₹449',
 '₹1,497',
 '₹1048 off',
 '₹543',
 '₹256 off',
 '₹407',
 '₹892 off',
 '₹449',
 '₹1048 off',
 '₹474',
 '₹525 off',
 '₹199',
 '₹300 off']

In [167]:
for n in range(1,len(Price_tags_titles),3):
        Price_tags_titles_newlist.append(Price_tags_titles[n])  
        Discount_tags_titles.append(Price_tags_titles[n+2])

In [168]:
Price_tags_titles_newlist

['₹1,996',
 '₹999',
 '₹999',
 '₹999',
 '₹999',
 '₹999',
 '₹3,999',
 '₹999',
 '₹999',
 '₹2,495',
 '₹499',
 '₹999',
 '₹999',
 '₹2,640',
 '₹999',
 '₹999',
 '₹1,299',
 '₹999',
 '₹999',
 '₹3,999',
 '₹499',
 '₹999',
 '₹699',
 '₹2,999',
 '₹499',
 '₹1,498',
 '₹999',
 '₹1,598',
 '₹659',
 '₹499',
 '₹1,999',
 '₹1,298',
 '₹2,999',
 '₹999',
 '₹999',
 '₹1,285',
 '₹3,999',
 '₹1,999',
 '₹999',
 '₹1,497',
 '₹256 off',
 '₹449',
 '₹525 off']

In [169]:
 Discount_tags_titles

['₹379',
 '₹377',
 '₹555',
 '₹499',
 '₹349',
 '₹474',
 '₹520',
 '₹399',
 '₹759',
 '₹240',
 '₹359',
 '₹449',
 '₹499',
 '₹416',
 '₹298',
 '₹407',
 '₹378',
 '₹398',
 '₹2,399',
 '₹283',
 '₹474',
 '₹242',
 '₹449',
 '₹199',
 '₹470',
 '₹474',
 '₹498',
 '₹365',
 '₹283',
 '₹499',
 '₹599',
 '₹449',
 '₹358',
 '₹399',
 '₹989',
 '₹719',
 '₹495',
 '₹769',
 '₹449',
 '₹543',
 '₹892 off',
 '₹474',
 '₹300 off']

In [170]:

next_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']")
next_button.click()
time.sleep(2)

In [171]:
import pandas as pd
product=pd.DataFrame({})

product['Product name']=Brand_tags_titles[:10]
product['Product description']=ProductDescription_tags_titles[:10]
product['price tag']=Price_tags_titles_newlist[:10]
product['discount']=Discount_tags_titles[:10]

product

,Product name,Product description,price tag,discount
0,CALCADOS,Casual Sneakers Shoes For Men Sneakers For Men,"₹1,996",₹379
1,Robbie jones,Shoes in Black Color Party wear/Outdoor/Casual...,₹999,₹377
2,Alfiya,Sneakers For Men,₹999,₹555
3,Zixer,White Sneaker For Men's/Boy's Sneakers For Men,₹999,₹499
4,PEHANOSA,Combo Pack Of 4 Casual Sneakers For Men,₹999,₹349
5,Shoes Bank,Sneakers For Men,₹999,₹474
6,BRUTON,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,"₹3,999",₹520
7,OZJI,5011-Latest Collection Stylish Casual Loafer S...,₹999,₹399
8,KULP,Sneakers For Men,₹999,₹759
9,Chevit,Combo Pack of 4 Latest Collection Stylish Casu...,"₹2,495",₹240

# Question 9

 Go to the link - https://www.myntra.com/shoes

In [172]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")
url='https://www.myntra.com/shoes'
driver.get(url)

Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,

In [174]:
btn1=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[3]/label")
btn1.click()

In [175]:
btn2=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
btn2.click()

In [182]:
ProductDescription_tags_titles=[]

In [183]:
for i in range(1,2):
    
    #brand name
    Brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")

    Brand_tags_titles=[]
    for j in Brand_tags:
        Brand_tags_titles.append(j.text)
        
    #Product description    
    ProductDescription_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")

    
    for k in ProductDescription_tags:
        ProductDescription_tags_titles.append(k.text)
        
    #price tag 
    Price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")

    Price_tags_titles=[]
  
    for l in Price_tags:
        Price_tags_titles.append(l.text)
        
    next_button=driver.find_element_by_xpath("//li[@class='pagination-next']")
    next_button.click()
    time.sleep(2)

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//li[@class='pagination-next']"}
  (Session info: chrome=91.0.4472.114)

In [185]:
import pandas as pd
product=pd.DataFrame({})

product['Product name']=Brand_tags_titles[:100]
product['Product description']=ProductDescription_tags_titles[:100]
product['price tag']=Price_tags_titles[:100]

product

,Product name,Product description,price tag
0,Nike,LEBRON XVIII Basketball Shoes,Rs. 14495
1,ADIDAS,,Rs. 17099Rs. 17999(5% OFF)
2,Cole Haan,Women Leather Brogues,Rs. 16999
3,ADIDAS Originals,Men ZX 2K Boost Sneakers,Rs. 13999
4,Birkenstock,Unisex Boston Leather Mules,Rs. 15990
5,Cole Haan,Men Textured Derbys,Rs. 14999
6,ADIDAS,Men ULTRABOOST Running,Rs. 16149Rs. 18999(15% OFF)
7,Geox,Women Leather Heeled Boots,Rs. 15999
8,Nike,Men JOYRIDE RUN Running Shoes,Rs. 13495Rs. 14995(10% OFF)
9,ASICS,Men Synthetic Running Shoes,Rs. 14999Rs. 19999(25% OFF)
10,Cole Haan,Men Solid Sneakers,Rs. 16999
11,Saint G,Leather Knee Length Boots,Rs. 14900

# Question 10

 Go to webpage https://www.amazon.in/

In [78]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")
url='https://www.amazon.in/'
driver.get(url)

Enter “Laptop” in the search field and then click the search icon

In [80]:
search_bar=driver.find_element_by_id('twotabsearchtextbox')
search_bar.send_keys("Laptop")

driver.implicitly_wait(5)

search_btn=driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']/span/input")
search_btn.click()

 set CPU Type filter to “Intel Core i7” and “Intel Core i9”

In [81]:
btn1=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[26]/span/a/span")
btn1.click()

In [82]:
btn2=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[28]/span/a/span")
btn2.click()

scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:
1. title
2. Ratings
3. Price

In [83]:
#scrape product name
product_name=[]
products=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in products:
    product_name.append(i.text)
    
product_name

['HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'ASUS ROG Zephyrus M15 (2020), 15.6" 4K UHD, Intel Core i7-10750H 10th Gen, RTX 2060 GDDR6 6GB Graphics, Gaming Laptop (16GB RAM/1TB NVMe SSD/Windows 10/Prism Black/1.9 Kg), GU502LV-HC140T',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56cms)1366x768 HD Laptop (16GB RAM/128GB SSD & 2TB HDD/Windows 10 Pro/MS Office/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 'Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.56cms) Full HD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Windows 10/MS Office 2019/Fingerprint Reader/Slate Grey/Aluminium Surface/1.43Kg), 82BH004HIN',
 'ASUS TUF Gaming F15, 15.6" FHD 144Hz, Intel Core i7-10870H 10th Gen, GTX 1650 Ti GDDR6 4GB Graphics, Gaming Laptop (16GB RAM/1TB HDD + 256GB SSD/Windows 10/Fortress Gray/2.3 Kg), FX566LI-HN133T',
 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'ASUS ROG Zephyrus Duo 15, 15.6" 4K UHD, Intel Core i7-10875H 10th Gen, RTX 2080 Super Max-Q 8GB Graphics, Gaming Laptop (32GB/2TB RAID 0 SSD/Windows 10/MS Office/Gray/2.48 Kg) GX550LXS-HC145TS',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen, 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics- Indie Black/1.4 Kg), S433EA-AM701TS',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56 cms) 1366x768 HD Laptop (16GB RAM /1TB SSD/Windows 10 Pro/MS Office 2019/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56 cms) 1366x768 HD Laptop (8GB RAM/256GB SSD/Windows 10 Pro/MS Office 2019/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56 cms) 1366x768 HD Laptop (8GB RAM/1TB HDD/Windows 10 Pro/MS Office 2019/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 '(Renewed) Dell Latitude E7270 12.5 inch Laptop (Core i7 6th Gen/8 GB (Up to 16)/256 GB SSD/Windows 10 Pro/MS Office/HD Display/Integrated Graphics)',
 'Lenovo ThinkPad E15 (2021) Intel Core i7 11th Gen 15.6" FHD Thin and Light Laptop (16GB RAM/512GB SSD/Windows 10/MS Office/Fingerprint Reader/Black/Aluminium Surface/ 1.7 kg), 20TDS0G100',
 'Dell Inspiron 5410 14" FHD Touch Display 2in1 Laptop (i7-1165G7 / 16GB / 512GB SSD / Integrated Graphics / Win 10 + MSO / Backlit KB + FPR + Active Pen / Silver Metal Color) D560469WIN9S',
 'MSI GE75 Raider 10SFS 17.3" FHD Gaming Laptop - Core i7-10875H+HM470 I DDR IV 8GB*2 (3200MHz) I 512GB NVMe PCIe SSD +1TB (SATA) 7200rpm I NVIDIA RTX2070 Super, GDDR6 8GB I Windows 10 Home - Black',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56 cms) 1366x768 HD Laptop (4GB RAM/320GB HDD/Windows 10 Pro/MS Office 2019/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 'HP 14 Thin & Light 14" (35.56cms) FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 'MSI GF63 Thin 10SCSR-019IN Intel Core i7-10750H 10th Gen 15.6-inch 120Hz Laptop(8GB/512GB NVMe SSD /Windows 10 Home/Nvidia GeForce GTX 1650Ti Max-Q 4GB/Black/1.8Kg ) 9S7-16R412-019',
 'Lenovo Legion Y540 9th Gen Intel Core i7 15.6-inch Full HD Gaming Laptop (8GB/1TB HDD + 256GB SSD/Windows 10/60 Hz/NVIDIA GTX 1650 4GB GDDR5 Graphics/Raven Black/2.3Kg), 81SY00SMIN',
 'HP Pavilion Gaming(2021) 10th Gen Intel Core i7 15.6-inch(39.6 cm) FHD IPS 144Hz Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/NVIDIA GTX 1650Ti 4GB/Win 10/MS Office/Shadow Black), 15-DK1511TX']

In [88]:
price_title=[]
price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in price:
    price_title.append(i.text)
    
price_title

['84,990',
 '1,46,290',
 '86,990',
 '54,999',
 '96,089',
 '81,990',
 '76,990',
 '54,999',
 '2,59,990',
 '77,171',
 '49,999',
 '40,932',
 '42,999',
 '42,999',
 '49,999',
 '90,990',
 '85,490',
 '1,79,990',
 '39,999',
 '88,000',
 '84,990',
 '82,990',
 '90,990']

In [93]:
import pandas as pd
product=pd.DataFrame({})

product['Product name']=product_name[:10]
product['price tag']=price_title[:10]

product

                                        Product name price tag
0  HP Pavilion (2021) Thin & Light 11th Gen Core ...    84,990
1  ASUS ROG Zephyrus M15 (2020), 15.6" 4K UHD, In...  1,46,290
2  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...    86,990
3  (Renewed) Dell Intel Core i7 4th Gen 14 Inch(3...    54,999
4  Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.5...    96,089
5  ASUS TUF Gaming F15, 15.6" FHD 144Hz, Intel Co...    81,990
6  HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...    76,990
7  Mi Notebook Horizon Edition 14 Intel Core i5-1...    54,999
8  ASUS ROG Zephyrus Duo 15, 15.6" 4K UHD, Intel ...  2,59,990
9  ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...    77,171