In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\91890\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\91890\anaconda3\lib\site-packages (from selenium) (1.25.11)

WARNING: You are using pip version 20.3.3; however, version 21.2.2 is available.
You should consider upgrading via the 'c:\users\91890\anaconda3\python.exe -m pip install --upgrade pip' command.

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [2]:
driver=webdriver.Chrome(r"C:\chromedriver.exe")

# 1.question 1

Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [163]:
url=' https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/'
driver.get(url)

In [164]:
#redirecting
redirecting=driver.find_element_by_xpath("//a[@class='external text']")
redirecting.click()

In [165]:
search_btn=driver.find_element_by_xpath("//div[@class='mw-search-result-heading']")
search_btn.click()

In [207]:
List=[]

list= driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td")
try:
    for i in list:
        List.append(i.text)
except NoSuchElementException:
    List.append("-")

In [211]:

Name=[]
Date=[]
Rank=[]
Artist=[]
Ratings=[]
Views=[]

for i in List:
    for j in range(0,len(List),7):
        try:
            Rank.append(List[j])
        except NoSuchElementException:
            Rank.append("--")
            
    for k in range(1,len(List),7):   
        try:
            Name.append(List[k])
        except NoSuchElementException:
            Name.append("--")
     
    for l in range(2,len(List),7):
        try:
            Date.append(List[l])
        except NoSuchElementException:
            Date.append("--")
            
    for m in range(3,len(List),7):    
        try:
            Views.append(List[m])
        except NoSuchElementException:
            Views.append("--")
    
    for n in range(4,len(List),7):
        try:
            Artist.append(List[n])
        except NoSuchElementException:
            Artist.append("--")
    
    for o in range(5,len(List),7):
        try:
            Ratings.append(List[o])
        except NoSuchElementException:
            Ratings.append("--")

In [212]:
print("length of Rank",len(Rank))
print("length of Name",len(Name))
print("length of Date",len(Date))
print("length of Views",len(Views))
print("length of Artist",len(Artist))
print("length of Ratings",len(Ratings))

length of Rank 15936
length of Name 15936
length of Date 15936
length of Views 15604
length of Artist 15604
length of Ratings 15604

In [214]:
# creating the dataframe from the scraped data 
df=pd.DataFrame({"rank":Rank,"Name":Name,"Date ":Date})
df

,rank,Name,Date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories
1,"""Despacito""[24]",Luis Fonsi,7.47
2,LooLoo Kids,5.60,"October 8, 2016"
3,5.40,"January 30, 2017",[E]
4,"April 6, 2015",[F],6.
...,...,...,...
15931,youtubedude,"2,300,000","December 18, 2005"
15932,"""Ronaldinho: Touch of Gold""‡*[148]",Nikesoccer,"255,000"
15933,[X],"""I/O Brush""‡*[151]",larfus
15934,[152],,"""Me at the zoo""[57]"
15935,1,[153],

In [215]:
# creating the dataframe from the scraped data 
df=pd.DataFrame({"Views":Views,'Artist':Artist,"Ratings":Ratings})
df

,Views,Artist,Ratings
0,9.06,"June 17, 2016",[B]
1,"January 12, 2017",[C],3.
2,[D],4.,"""Shape of You""[26]"
3,5.,"""See You Again""[27]",Wiz Khalifa
4,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.45
...,...,...,...
15599,28,[145],[W]
15600,"January 9, 2006",12,[147]
15601,"October 21, 2005","October 31, 2005",70
15602,"247,000","October 5, 2005","October 29, 2005"
15603,jawed,1,"April 23, 2005"

# Question 2
2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [87]:
url=' https://www.bcci.tv/'
driver.get(url)

In [89]:
search_btn1=driver.find_element_by_xpath("/html/body/div[2]/div/div[2]/div[2]/nav/ul/li[1]/div[2]")
search_btn1.click()
time.sleep(2)

search_btn2=driver.find_element_by_xpath("/html/body/div[2]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a")
search_btn2.click()
time.sleep(2)

In [102]:
Date=[]
Series=[]
Place=[]
Time=[]

date=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']//strong")
for i in date:
    try:
        Date.append(i.text)
    except NoSuchElementException:
        Date.append("--")
 

series=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")
for i in series:   
    try:
        Series.append(i.text)
    except NoSuchElementException:
        Series.append("--")

place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']//span")
for i in place:
    try:
        Place.append(i.text)
    except NoSuchElementException:
        Place.append("--")
        
 # creating the dataframe from the scraped data 
df=pd.DataFrame({"date":Date,"series":Series,"place":Place})
df

                     date    series                     place
0    Wednesday 4th August  1st Test  Trent Bridge, Nottingham
1    Thursday 12th August  2nd Test            Lord's, London
2   Wednesday 25th August  3rd Test         Headingley, Leeds
3  Thursday 2nd September  4th Test          The Oval, London
4   Friday 10th September  5th Test  Old Trafford, Manchester

# Questions 3

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [29]:
url='https://www.guru99.com/'
driver.get(url)

In [30]:
search_field_designation=driver.find_element_by_xpath("/html/body/div[2]/section[3]/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input")   #job search bar
search_field_designation.clear()    
search_field_designation.send_keys("selenium exception")


button=driver.find_element_by_xpath("/html/body/div[2]/section[3]/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button")
button.click()
time.sleep(2)

In [31]:
guru_urls = []
urls = driver.find_elements_by_xpath('//a[@class="gs-title"]')
for url in urls:
    try:
        guru_urls.append(url.get_attribute("href"))
    except NoSuchElementException:
        guru_urls.append("--")
    
guru_urls

['https://www.guru99.com/exception-handling-selenium.html',
 'https://www.guru99.com/exception-handling-selenium.html',
 'https://www.guru99.com/implicit-explicit-waits-selenium.html',
 'https://www.guru99.com/implicit-explicit-waits-selenium.html',
 'https://www.guru99.com/alert-popup-handling-selenium.html',
 'https://www.guru99.com/alert-popup-handling-selenium.html',
 'https://www.guru99.com/top-100-selenium-interview-questions-answers.html',
 'https://www.guru99.com/top-100-selenium-interview-questions-answers.html',
 'https://www.guru99.com/take-screenshot-selenium-webdriver.html',
 'https://www.guru99.com/take-screenshot-selenium-webdriver.html',
 'https://www.guru99.com/find-element-selenium.html',
 'https://www.guru99.com/find-element-selenium.html',
 'https://www.guru99.com/listeners-selenium-webdriver.html',
 'https://www.guru99.com/listeners-selenium-webdriver.html',
 'https://www.guru99.com/database-testing-using-selenium-step-by-step-guide.html',
 'https://www.guru99.com/database-testing-using-selenium-step-by-step-guide.html',
 'https://www.guru99.com/gecko-marionette-driver-selenium.html',
 'https://www.guru99.com/gecko-marionette-driver-selenium.html',
 'https://www.guru99.com/ssl-certificate-error-handling-selenium.html',
 'https://www.guru99.com/ssl-certificate-error-handling-selenium.html',
 None,
 None,
 None]

In [54]:
guru_dict={}
guru_dict["Name"]=[]
guru_dict["Description"]=[]



# Scraping data from each url
for url in guru_urls:
    if type(url) is str:   #checking if url is empty
        driver.get(url)                                                                                                             # Loading the webpage by url
        time.sleep(2)

        try:
            name = driver.find_element_by_xpath('//div[@class="page-header"]')      
            guru_dict["Name"].append(name.text)
        except NoSuchElementException:
            guru_dict['Name'].append('-')
            
        try:
            desc = driver.find_element_by_xpath('//div[@class="item-page"]//div//div//p')      
            guru_dict["Description"].append(desc.text)
        except NoSuchElementException:
            guru_dict['Description'].append('-')
    else:
        guru_dict['Name'].append('-')
        guru_dict['Description'].append('-')

In [56]:
print(len(guru_dict["Name"]), len(guru_dict["Description"]))

23 23

In [57]:
guru_df = pd.DataFrame.from_dict(guru_dict)
guru_df

,Name,Description
0,Selenium Exception Handling (Common Exceptions...,An exception is an error that happens at the t...
1,Selenium Exception Handling (Common Exceptions...,An exception is an error that happens at the t...
2,"Implicit, Explicit and Fluent Wait in Selenium...",The Implicit Wait in Selenium is used to tell ...
3,"Implicit, Explicit and Fluent Wait in Selenium...",The Implicit Wait in Selenium is used to tell ...
4,Selenium Alert & Popup Window Handling: How to...,An Alert in Selenium is a small message box wh...
5,Selenium Alert & Popup Window Handling: How to...,An Alert in Selenium is a small message box wh...
6,Top 100 Selenium Interview Questions and Answe...,-
7,Top 100 Selenium Interview Questions and Answe...,-
8,How to Take Screenshot in Selenium WebDriver,A Screenshot in Selenium Webdriver is used for...
9,How to Take Screenshot in Selenium WebDriver,A Screenshot in Selenium Webdriver is used for...
10,Find Element and FindElements by XPath in Sele...,-
11,Find Element and FindElements by XPath in Sele...,-
12,TestNG Listeners in Selenium: ITestListener & ...,-
13,TestNG Listeners in Selenium: ITestListener & ...,-
14,Database Testing using Selenium: Step by Step ...,Name
15,Database Testing using Selenium: Step by Step ...,Name
16,"Gecko (Marionette) Driver Selenium: Download, ...",-
17,"Gecko (Marionette) Driver Selenium: Download, ...",-
18,How to Handle SSL Certificate in Selenium WebD...,-
19,How to Handle SSL Certificate in Selenium WebD...,-
20,-,-
21,-,-
22,-,-

# Question 4

Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:

A) Rank

B) State

C) GSDP at current price (19-20)

D) GSDP at current price (18-19)

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [150]:
# opning STATISTICSTIMES.com
driver.get('http://statisticstimes.com/')
time.sleep(3)

#finding economy button
try:
    economy_button = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button')                      # Button to close login popup
    economy_button.click()
except NoSuchElementException : 
    print("No economy button")
time.sleep(2)    
    
#finding the state button
search_bar = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')    
search_bar.click()               
time.sleep(4)

In [152]:
#finding the :GDP of Indian states
search_bar2 = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')    
search_bar2.click()               
time.sleep(2)

In [160]:
Rank=[]
Name=[]
GSDP1920_1=[]
GSDP1819_1= []
GSDP1920_2=[]
GSDP1819_2= []
Share=[]
GDP=[]

Lists=[]
lists=driver.find_elements_by_xpath("//table[@id='table_id']//tbody//tr//td")
for i in lists:
    try:
        Lists.append(i.text)
    except NoSuchElementException:
        Lists.append('-')    
        

#scrapping rank
for i in range(0,len(Lists),8):
     Rank.append(Lists[i])
        
#scrapping names of state
for i in range(1,len(Lists),8):
     Name.append(Lists[i])

#scrapping GSDP at current price (19-20)
for i in range(2,len(Lists),8):
    GSDP1920_1.append(Lists[i])       
        
#GSDP 201819 at current prices
for i in range(3,len(Lists),8):
    GSDP1819_1.append(Lists[i])
    
#Share 2018-19
for i in range(4,len(Lists),8):
    Share.append(Lists[i])

#GDP
for i in range(5,len(Lists),8):
    GDP.append(Lists[i])

    
#GSDP 2019-2020 at 2011/12 prices
for i in range(6,len(Lists),8):
    GSDP1920_2.append(Lists[i])


#GSDP 2018-2019 at 2011-12
for i in range(7,len(Lists),8):
    GSDP1819_2.append(Lists[i])

In [161]:
print(len(Rank))
print(len(Name))
print(len(GSDP1920_1))
print(len(GSDP1819_1))
print(len(Share))
print(len(GDP))
print(len(GSDP1920_2))
print(len(GSDP1819_2))

33
33
33
33
33
33
33
33

In [162]:
df=pd.DataFrame({'Rank':Rank,'Name':Name,'GSDP of 2019/20 at current prices':GSDP1920_1,'GSDP of 2019/20 at current prices':GSDP1819_1,"GDP of states in billion":GDP,"Share":Share,"GSDP of 2019/20 at 2011/12 prices":GSDP1920_2,'GSDP of 2018/19 at 2011/12 prices':GSDP1819_2})
df

,Rank,Name,GSDP of 2019/20 at current prices,GDP of states in billion,Share,GSDP of 2019/20 at 2011/12 prices,GSDP of 2018/19 at 2011/12 prices
0,1,Maharashtra,"2,632,792",399.921,13.94%,-,"2,039,074"
1,2,Tamil Nadu,"1,630,208",247.629,8.63%,"1,312,929","1,215,307"
2,3,Uttar Pradesh,"1,584,764",240.726,8.39%,"1,166,817","1,123,982"
3,4,Gujarat,"1,502,899",228.290,7.96%,-,"1,186,379"
4,5,Karnataka,"1,493,127",226.806,7.91%,"1,156,039","1,091,077"
5,6,West Bengal,"1,089,898",165.556,5.77%,"793,223","739,525"
6,7,Rajasthan,"942,586",143.179,4.99%,"711,627","677,428"
7,8,Andhra Pradesh,"862,957",131.083,4.57%,"672,018","621,301"
8,9,Telangana,"861,031",130.791,4.56%,"663,258","612,828"
9,10,Madhya Pradesh,"809,592",122.977,4.29%,"561,801","522,009"
10,11,Kerala,"781,653",118.733,4.14%,-,"559,412"
11,12,Delhi,"774,870",117.703,4.10%,"634,408","590,569"
12,13,Haryana,"734,163",111.519,3.89%,"572,240","531,085"
13,14,Bihar,"530,363",80.562,2.81%,"414,977","375,651"
14,15,Punjab,"526,376",79.957,2.79%,"418,868","397,669"
15,16,Odisha,"487,805",74.098,2.58%,"396,499","376,877"
16,17,Assam,"315,881",47.982,1.67%,-,"234,048"
17,18,Chhattisgarh,"304,063",46.187,1.61%,"243,477","231,182"
18,19,Jharkhand,"297,204",45.145,1.57%,"240,036","224,986"
19,20,Uttarakhand,"245,895",37.351,1.30%,-,"193,273"
20,21,Jammu & Kashmir,"155,956",23.690,0.83%,-,"112,755"
21,22,Himachal Pradesh,"153,845",23.369,0.81%,"124,403","117,851"
22,23,Goa,"73,170",11.115,0.39%,"63,408","57,787"
23,24,Tripura,"49,845",7.571,0.26%,"40,583","36,963"
24,25,Chandigarh,"42,114",6.397,0.22%,-,"31,192"
25,26,Puducherry,"34,433",5.230,0.18%,"25,093","23,013"
26,27,Meghalaya,"33,481",5.086,0.18%,"26,695","24,682"
27,28,Sikkim,"28,723",4.363,0.15%,"20,017","18,722"
28,29,Manipur,"27,870",4.233,0.15%,"20,673","19,300"
29,30,Nagaland,"27,283",4.144,0.14%,-,"17,647"
30,31,Arunachal Pradesh,"24,603",3.737,0.13%,-,"16,676"
31,32,Mizoram,"22,287",3.385,0.12%,"18,797","16,478"
32,33,Andaman & Nicobar Islands,-,-,-,-,-

# Question 5

Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code

In [96]:
# opning github.com
driver.get('https://github.com/')
time.sleep(3)

#finding explore button
try:
    economy_button = driver.find_element_by_xpath('/html/body/div[1]/header/div[3]/nav/a[4]')                      # Button to close login popup
    economy_button.click()
except NoSuchElementException : 
    print("No explore button")
time.sleep(2)    

#finding the state button
sign_in = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/div[2]/div[2]/a')    
sign_in.click()               
time.sleep(4)

No explore button

In [97]:
username=driver.find_element_by_id('login_field')
username.send_keys("aneeshabsoman1994")  #entering Video name
time.sleep(1)

password=driver.find_element_by_id('password')
password.send_keys("fliprobo1994")  #entering Video name
time.sleep(1)

sign_in_button = driver.find_element_by_xpath('//*[@id="login"]/div[4]/form/div/input[12]')
sign_in_button.click()               
time.sleep(4)

In [99]:
#finding explore button
try:
    economy_button = driver.find_element_by_xpath('/html/body/div[1]/header/div[3]/nav/a[4]')                      # Button to close login popup
    economy_button.click()
except NoSuchElementException : 
    print("No explore button")
time.sleep(2)    

#finding trending button
try:
    trending_button = driver.find_element_by_xpath('/html/body/div[4]/main/div[1]/nav/div/a[3]')                      # Button to close login popup
    trending_button.click()
except NoSuchElementException : 
    print("No trending button")
time.sleep(2)

In [145]:
#scrapping title
Title=[]
Description=[]
Language=[]
List=[]
Contributor=[]

#scrapping title 
try:
    title=driver.find_elements_by_xpath("//span[@class='text-normal']")
    for i in title:
          Title.append(i.text)
except NoSuchElementException:
          Title.append("-")
  
#scrapping languages
Lists1=[]
lists1=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']//span")
for i in lists1:
    try:
        Lists1.append(i.text.split())
    except NoSuchElementException:
        Lists1.append('-')        

for i in range(1,len(Lists1),2):
        Language.append(Lists1[i])


 #scrapping description
try:
    desc=driver.find_elements_by_xpath("//article[@class='Box-row']//p")
    for i in desc:
          Description.append(i.text)
except NoSuchElementException:
          Description.append("--")



#scrapping Number of contributors
try:
    link=driver.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']")
    for i in link:
          List.append(i.text)
except NoSuchElementException:
          List.append("--")
        
for i in range(0,len(List),2):
    try:
        Contributor.append(List[i])
    except NoSuchElementException:
        Contributor.append("--")

In [146]:
print("titles length",len(Title))
print("Description length",len(Description))
print("Language",len(Language))
print("Number of Contributors",len(Contributor))

titles length 25
Description length 23
Language 21
Contributor 25

In [147]:
Description

['The Linux Kernel Module Programming Guide (updated for 5.x kernels)',
 'openpilot is an open source driver assistance system. openpilot performs the functions of Automated Lane Centering and Adaptive Cruise Control for over 100 supported car makes and models.',
 '12 weeks, 25 lessons, 50 quizzes, classic Machine Learning for all',
 'Learn how to design large-scale systems. Prep for the system design interview. Includes Anki flashcards.',
 '24 Lessons, 12 Weeks, Get Started as a Web Developer',
 'The open-source repo for docs.github.com',
 'A collection of modern/faster/saner alternatives to common unix commands.',
 '🐶 Automated code review tool integrated with any code analysis tools regardless of programming language',
 '信息收集自动化工具',
 'Ergonomic and modular web framework built with Tokio, Tower, and Hyper',
 '🚀🚀🚀vue3,vue3.0,vue,vue3.x,vue.js,vue后台管理,admin,vue-admin,vue-element-admin,ant-design，vue-admin-beautiful-pro,vab admin pro,vab admin plus主线版本基于element-plus、element-ui、ant-design-vue三者并行开发维护，同时支持电脑，手机，平板，切换分支查看不同的vue版本，element-plus版本已发布(vue3,vue3.0,vue,vue3.x,vue.js)程序无国界，但程序员有国界，中国国家尊严不容挑衅，如果您在特殊时期继续购买HM、耐克、阿迪达斯等品牌那么您将无权继续使用Vab',
 'A list of awesome beginners-friendly projects.',
 'Prometheus Alertmanager',
 'Free, open source crypto trading bot',
 'Gin is a HTTP web framework written in Go (Golang). It features a Martini-like API with much better performance -- up to 40 times faster. If you need smashing performance, get yourself some Gin.',
 '📗 SheetJS Community Edition -- Spreadsheet Data Toolkit',
 'Prowler is a security tool to perform AWS security best practices assessments, audits, incident response, continuous monitoring, hardening and forensics readiness. It contains all CIS controls listed here https://d0.awsstatic.com/whitepapers/compliance/AWS_CIS_Foundations_Benchmark.pdf and more than 100 additional checks that help on GDPR, HIPAA…',
 'GitHub Actions virtual environments',
 'Generic Signature Format for SIEM Systems',
 'OpenMMLab Computer Vision Foundation',
 'This repository is for active development of the Azure SDK for .NET. For consumers of the SDK we recommend visiting our public developer docs at https://docs.microsoft.com/en-us/dotnet/azure/ or our versioned developer docs at https://azure.github.io/azure-sdk-for-net.',
 'A curated list of awesome frameworks, libraries and software for the Java programming language.',
 'Trying to tame the three-headed dog.']

In [149]:
df=pd.DataFrame({'Title':Title,'Number of Contributors':Contributor})
df

            Title Number of Contributors
0     sysprog21 /                  1,353
1       commaai /                 26,736
2     microsoft /                 15,450
3   donnemartin /                140,487
4     microsoft /                 31,720
5        github /                  5,714
6   ibraheemdev /                 13,990
7     reviewdog /                  3,866
8         0x727 /                    577
9      tokio-rs /                  1,096
10  krishnaik06 /                    160
11    chuzhixin /                  9,749
12      MunGell /                 33,607
13   prometheus /                  4,278
14    freqtrade /                 10,219
15    gin-gonic /                 50,203
16      SheetJS /                 26,587
17     toniblyx /                  3,711
18      actions /                  3,701
19      SigmaHQ /                  3,863
20   open-mmlab /                  2,820
21        Azure /                  2,583
22    Hiroshiba /                    400
23      akullpp /                 29,563
24    GhostPack /                  1,630

# Question 6

Scrape the details of top 100 songs on billboard.com.

Url = https://www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [55]:
# opning bill board.com
driver.get('https://www.billboard.com/')
time.sleep(3)

#finding charts button
try:
    charts_button = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/header/div/ul/li[1]/a')                      # Button to close login popup
    charts_button.click()
except NoSuchElementException : 
    print("No charts button")
time.sleep(2)  

#finding hot100 button
try:
    hot100_button = driver.find_element_by_xpath('/html/body/main/div[2]/div/div[1]/a/div[2]/div[1]')                      # Button to close login popup
    hot100_button.click()
except NoSuchElementException : 
    print("No hot100 button")
time.sleep(2)

In [93]:
#scrapping title
Title=[]
Artist=[]
Lastweekrank=[]
PeakRange=[]
WeeksOnChart=[]


#scrapping title 
try:
    title1=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
    for i in title1:
          Title.append(i.text)
except NoSuchElementException:
          Title.append("-")
        
 #scrapping artist
try:
    artist=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
    for i in artist:
          Artist.append(i.text)
except NoSuchElementException:
          Artist.append("--")

#scrapping lastweekrank
try:
    lastweekrank=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    for i in lastweekrank:
          Lastweekrank.append(i.text)
except NoSuchElementException:
          Lastweekrank.append("--")
        

#Scrapping WeeksOnChart
peakRange=driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']")
for i in peakRange:
    try:
        PeakRange.append(i.text.split()[1])
    except NoSuchElementException:
        PeakRange.append('-') 
        
#Scrapping WeeksOnChart
weeksOnChart=driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']")
for i in weeksOnChart:
    try:
        WeeksOnChart.append(i.text.split()[2])
    except NoSuchElementException:
        WeeksOnChart.append('-')

In [94]:
print("length of Title",len(Title))
print("length of Artist",len(Artist))
print("length of Lastweekrank",len(Lastweekrank))
print("length of PeakRange",len(PeakRange))
print("length of WeeksOnChart",len(WeeksOnChart))

length of Title 100
length of Artist 100
length of Lastweekrank 100
length of PeakRange 100
length of WeeksOnChart 100

In [95]:
df=pd.DataFrame({'Title':Title,'Artist':Artist,'Lastweekrank':Lastweekrank,"PeakRange":PeakRange,"WeeksOnChart":WeeksOnChart})
df

,Title,Artist,Lastweekrank,PeakRange,WeeksOnChart
0,Butter,BTS,1,1,10
1,Industry Baby,Lil Nas X & Jack Harlow,-,2,1
2,Good 4 U,Olivia Rodrigo,2,1,11
3,Stay,The Kid LAROI & Justin Bieber,4,3,3
4,Levitating,Dua Lipa Featuring DaBaby,3,2,43
...,...,...,...,...,...
95,Minimum Wage,Blake Shelton,83,67,12
96,Working,Tate McRae X Khalid,-,88,5
97,Holy Smokes,Trippie Redd Featuring Lil Uzi Vert,50,50,2
98,WUSYANAME,"Tyler, The Creator Featuring YoungBoy Never Br...",91,14,5
99,Still Chose You,The Kid LAROI Featuring Mustard,-,100,1

# question 7

Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [10]:
# opning naukari.com
driver.get('https://www.naukri.com/')
time.sleep(3)

In [11]:
# entering “Data science” in “Skill,Designations,Companies” field 
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg") #job search bar
search_field_designation.send_keys("Data Analyst")

# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()
time.sleep(4)

In [12]:
# scrape all product urls
urls = []
start=0
end=2
for page in range(start,end):#for loop for scrapping 3 page
    url=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')       
    for i in url:
        urls.append(i.get_attribute("href"))                        
    nxt_button=driver.find_element_by_xpath("//a[@class='fright fs14 btn-secondary br2']")     
    nxt_button.click()
    time.sleep(2)

In [ ]:
Name=[]
Description=[]
Designation=[]
Location=[]

for url in urls:
    driver.get(url)                                                                                                                   
    time.sleep(2)
    
    try:
        name = driver.find_element_by_xpath('//h1[@class="jd-header-title"]')      
        Name.append(name.text)
    except NoSuchElementException:
        Name.append('-')
     
    try:
        desc = driver.find_element_by_xpath('//div[@class="dang-inner-html"]')      
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
        
        
    
    try:
        name = driver.find_element_by_xpath('//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]')      
        Name.append(name.text)
    except NoSuchElementException:
        Name.append('-')
     
   
    
    
df=pd.DataFrame({'Name':Name,'Description':Description,'Location':Location})
df

# question 8

Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [3]:
# opning guardian.com
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
time.sleep(3)

In [15]:
#scrapping 
Lists=[]
lists=driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td")
for i in lists:
    try:
        Lists.append(i.text)
    except NoSuchElementException:
        Lists.append('-')        
Lists

['1',
 'Da Vinci Code,The',
 'Brown, Dan',
 '5,094,805',
 'Transworld',
 'Crime, Thriller & Adventure',
 '2',
 'Harry Potter and the Deathly Hallows',
 'Rowling, J.K.',
 '4,475,152',
 'Bloomsbury',
 "Children's Fiction",
 '3',
 "Harry Potter and the Philosopher's Stone",
 'Rowling, J.K.',
 '4,200,654',
 'Bloomsbury',
 "Children's Fiction",
 '4',
 'Harry Potter and the Order of the Phoenix',
 'Rowling, J.K.',
 '4,179,479',
 'Bloomsbury',
 "Children's Fiction",
 '5',
 'Fifty Shades of Grey',
 'James, E. L.',
 '3,758,936',
 'Random House',
 'Romance & Sagas',
 '6',
 'Harry Potter and the Goblet of Fire',
 'Rowling, J.K.',
 '3,583,215',
 'Bloomsbury',
 "Children's Fiction",
 '7',
 'Harry Potter and the Chamber of Secrets',
 'Rowling, J.K.',
 '3,484,047',
 'Bloomsbury',
 "Children's Fiction",
 '8',
 'Harry Potter and the Prisoner of Azkaban',
 'Rowling, J.K.',
 '3,377,906',
 'Bloomsbury',
 "Children's Fiction",
 '9',
 'Angels and Demons',
 'Brown, Dan',
 '3,193,946',
 'Transworld',
 'Crime, Thriller & Adventure',
 '10',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Rowling, J.K.',
 '2,950,264',
 'Bloomsbury',
 "Children's Fiction",
 '11',
 'Fifty Shades Darker',
 'James, E. L.',
 '2,479,784',
 'Random House',
 'Romance & Sagas',
 '12',
 'Twilight',
 'Meyer, Stephenie',
 '2,315,405',
 'Little, Brown Book',
 'Young Adult Fiction',
 '13',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Larsson, Stieg',
 '2,233,570',
 'Quercus',
 'Crime, Thriller & Adventure',
 '14',
 'Fifty Shades Freed',
 'James, E. L.',
 '2,193,928',
 'Random House',
 'Romance & Sagas',
 '15',
 'Lost Symbol,The',
 'Brown, Dan',
 '2,183,031',
 'Transworld',
 'Crime, Thriller & Adventure',
 '16',
 'New Moon',
 'Meyer, Stephenie',
 '2,152,737',
 'Little, Brown Book',
 'Young Adult Fiction',
 '17',
 'Deception Point',
 'Brown, Dan',
 '2,062,145',
 'Transworld',
 'Crime, Thriller & Adventure',
 '18',
 'Eclipse',
 'Meyer, Stephenie',
 '2,052,876',
 'Little, Brown Book',
 'Young Adult Fiction',
 '19',
 'Lovely Bones,The',
 'Sebold, Alice',
 '2,005,598',
 'Pan Macmillan',
 'General & Literary Fiction',
 '20',
 'Curious Incident of the Dog in the Night-time,The',
 'Haddon, Mark',
 '1,979,552',
 'Random House',
 'General & Literary Fiction',
 '21',
 'Digital Fortress',
 'Brown, Dan',
 '1,928,900',
 'Transworld',
 'Crime, Thriller & Adventure',
 '22',
 'Short History of Nearly Everything,A',
 'Bryson, Bill',
 '1,852,919',
 'Transworld',
 'Popular Science',
 '23',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Larsson, Stieg',
 '1,814,784',
 'Quercus',
 'Crime, Thriller & Adventure',
 '24',
 'Breaking Dawn',
 'Meyer, Stephenie',
 '1,787,118',
 'Little, Brown Book',
 'Young Adult Fiction',
 '25',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Carle, Eric',
 '1,783,535',
 'Penguin',
 'Picture Books',
 '26',
 'Gruffalo,The',
 'Donaldson, Julia',
 '1,781,269',
 'Pan Macmillan',
 'Picture Books',
 '27',
 "Jamie's 30-Minute Meals",
 'Oliver, Jamie',
 '1,743,266',
 'Penguin',
 'Food & Drink: General',
 '28',
 'Kite Runner,The',
 'Hosseini, Khaled',
 '1,629,119',
 'Bloomsbury',
 'General & Literary Fiction',
 '29',
 'One Day',
 'Nicholls, David',
 '1,616,068',
 'Hodder & Stoughton',
 'General & Literary Fiction',
 '30',
 'Thousand Splendid Suns,A',
 'Hosseini, Khaled',
 '1,583,992',
 'Bloomsbury',
 'General & Literary Fiction',
 '31',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 'Larsson, Stieg',
 '1,555,135',
 'Quercus',
 'Crime, Thriller & Adventure',
 '32',
 "Time Traveler's Wife,The",
 'Niffenegger, Audrey',
 '1,546,886',
 'Random House',
 'General & Literary Fiction',
 '33',
 'Atonement',
 'McEwan, Ian',
 '1,539,428',
 'Random House',
 'General & Literary Fiction',
 '34',
 "Bridget Jones's Diary:A Novel",
 'Fielding, Helen',
 '1,508,205',
 'Pan Macmillan',
 'General & Literary Fiction',
 '35',
 'World According to Clarkson,The',
 'Clarkson, Jeremy',
 '1,489,403',
 'Penguin',
 'Humour: Collections & General',
 '36',
 "Captain Corelli's Mandolin",
 'Bernieres, Louis de',
 '1,352,318',
 'Random House',
 'General & Literary Fiction',
 '37',
 'Sound of Laughter,The',
 'Kay, Peter',
 '1,310,207',
 'Random House',
 'Autobiography: General',
 '38',
 'Life of Pi',
 'Martel, Yann',
 '1,310,176',
 'Canongate',
 'General & Literary Fiction',
 '39',
 'Billy Connolly',
 'Stephenson, Pamela',
 '1,231,957',
 'HarperCollins',
 'Biography: The Arts',
 '40',
 'Child Called It,A',
 'Pelzer, Dave',
 '1,217,712',
 'Orion',
 'Autobiography: General',
 '41',
 "Gruffalo's Child,The",
 'Donaldson, Julia',
 '1,208,711',
 'Pan Macmillan',
 'Picture Books',
 '42',
 "Angela's Ashes:A Memoir of a Childhood",
 'McCourt, Frank',
 '1,204,058',
 'HarperCollins',
 'Autobiography: General',
 '43',
 'Birdsong',
 'Faulks, Sebastian',
 '1,184,967',
 'Random House',
 'General & Literary Fiction',
 '44',
 'Northern Lights:His Dark Materials S.',
 'Pullman, Philip',
 '1,181,503',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '45',
 'Labyrinth',
 'Mosse, Kate',
 '1,181,093',
 'Orion',
 'General & Literary Fiction',
 '46',
 'Harry Potter and the Half-blood Prince',
 'Rowling, J.K.',
 '1,153,181',
 'Bloomsbury',
 'Science Fiction & Fantasy',
 '47',
 'Help,The',
 'Stockett, Kathryn',
 '1,132,336',
 'Penguin',
 'General & Literary Fiction',
 '48',
 'Man and Boy',
 'Parsons, Tony',
 '1,130,802',
 'HarperCollins',
 'General & Literary Fiction',
 '49',
 'Memoirs of a Geisha',
 'Golden, Arthur',
 '1,126,337',
 'Random House',
 'General & Literary Fiction',
 '50',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'McCall Smith, Alexander',
 '1,115,549',
 'Little, Brown Book',
 'Crime, Thriller & Adventure',
 '51',
 'Island,The',
 'Hislop, Victoria',
 '1,108,328',
 'Headline',
 'General & Literary Fiction',
 '52',
 'PS, I Love You',
 'Ahern, Cecelia',
 '1,107,379',
 'HarperCollins',
 'General & Literary Fiction',
 '53',
 'You are What You Eat:The Plan That Will Change Your Life',
 'McKeith, Gillian',
 '1,104,403',
 'Penguin',
 'Fitness & Diet',
 '54',
 'Shadow of the Wind,The',
 'Zafon, Carlos Ruiz',
 '1,092,349',
 'Orion',
 'General & Literary Fiction',
 '55',
 'Tales of Beedle the Bard,The',
 'Rowling, J.K.',
 '1,090,847',
 'Bloomsbury',
 "Children's Fiction",
 '56',
 'Broker,The',
 'Grisham, John',
 '1,087,262',
 'Random House',
 'Crime, Thriller & Adventure',
 '57',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Atkins, Robert C.',
 '1,054,196',
 'Random House',
 'Fitness & Diet',
 '58',
 'Subtle Knife,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,037,160',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '59',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 'Truss, Lynne',
 '1,023,688',
 'Profile Books Group',
 'Usage & Writing Guides',
 '60',
 "Delia's How to Cook:(Bk.1)",
 'Smith, Delia',
 '1,015,956',
 'Random House',
 'Food & Drink: General',
 '61',
 'Chocolat',
 'Harris, Joanne',
 '1,009,873',
 'Transworld',
 'General & Literary Fiction',
 '62',
 'Boy in the Striped Pyjamas,The',
 'Boyne, John',
 '1,004,414',
 'Random House Childrens Books G',
 'Young Adult Fiction',
 '63',
 "My Sister's Keeper",
 'Picoult, Jodi',
 '1,003,780',
 'Hodder & Stoughton',
 'General & Literary Fiction',
 '64',
 'Amber Spyglass,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,002,314',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '65',
 'To Kill a Mockingbird',
 'Lee, Harper',
 '998,213',
 'Random House',
 'General & Literary Fiction',
 '66',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Gray, John',
 '992,846',
 'HarperCollins',
 'Popular Culture & Media: General Interest',
 '67',
 'Dear Fatty',
 'French, Dawn',
 '986,753',
 'Random House',
 'Autobiography: The Arts',
 '68',
 'Short History of Tractors in Ukrainian,A',
 'Lewycka, Marina',
 '986,115',
 'Penguin',
 'General & Literary Fiction',
 '69',
 'Hannibal',
 'Harris, Thomas',
 '970,509',
 'Random House',
 'Crime, Thriller & Adventure',
 '70',
 'Lord of the Rings,The',
 'Tolkien, J. R. R.',
 '967,466',
 'HarperCollins',
 'Science Fiction & Fantasy',
 '71',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Moore, Michael',
 '963,353',
 'Penguin',
 'Current Affairs & Issues',
 '72',
 'Interpretation of Murder,The',
 'Rubenfeld, Jed',
 '962,515',
 'Headline',
 'Crime, Thriller & Adventure',
 '73',
 'Sharon Osbourne Extreme:My Autobiography',
 'Osbourne, Sharon',
 '959,496',
 'Little, Brown Book',
 'Autobiography: The Arts',
 '74',
 'Alchemist,The:A Fable About Following Your Dream',
 'Coelho, Paulo',
 '956,114',
 'HarperCollins',
 'General & Literary Fiction',
 '75',
 "At My Mother's Knee ...:and Other Low Joints",
 "O'Grady, Paul",
 '945,640',
 'Transworld',
 'Autobiography: The Arts',
 '76',
 'Notes from a Small Island',
 'Bryson, Bill',
 '931,312',
 'Transworld',
 'Travel Writing',
 '77',
 'Return of the Naked Chef,The',
 'Oliver, Jamie',
 '925,425',
 'Penguin',
 'Food & Drink: General',
 '78',
 'Bridget Jones: The Edge of Reason',
 'Fielding, Helen',
 '924,695',
 'Pan Macmillan',
 'General & Literary Fiction',
 '79',
 "Jamie's Italy",
 'Oliver, Jamie',
 '906,968',
 'Penguin',
 'National & Regional Cuisine',
 '80',
 'I Can Make You Thin',
 'McKenna, Paul',
 '905,086',
 'Transworld',
 'Fitness & Diet',
 '81',
 'Down Under',
 'Bryson, Bill',
 '890,847',
 'Transworld',
 'Travel Writing',
 '82',
 'Summons,The',
 'Grisham, John',
 '869,671',
 'Random House',
 'Crime, Thriller & Adventure',
 '83',
 'Small Island',
 'Levy, Andrea',
 '869,659',
 'Headline',
 'General & Literary Fiction',
 '84',
 'Nigella Express',
 'Lawson, Nigella',
 '862,602',
 'Random House',
 'Food & Drink: General',
 '85',
 'Brick Lane',
 'Ali, Monica',
 '856,540',
 'Transworld',
 'General & Literary Fiction',
 '86',
 "Memory Keeper's Daughter,The",
 'Edwards, Kim',
 '845,858',
 'Penguin',
 'General & Literary Fiction',
 '87',
 'Room on the Broom',
 'Donaldson, Julia',
 '842,535',
 'Pan Macmillan',
 'Picture Books',
 '88',
 'About a Boy',
 'Hornby, Nick',
 '828,215',
 'Penguin',
 'General & Literary Fiction',
 '89',
 'My Booky Wook',
 'Brand, Russell',
 '820,563',
 'Hodder & Stoughton',
 'Autobiography: The Arts',
 '90',
 'God Delusion,The',
 'Dawkins, Richard',
 '816,907',
 'Transworld',
 'Popular Science',
 '91',
 '"Beano" Annual,The',
 '0',
 '816,585',
 'D.C. Thomson',
 "Children's Annuals",
 '92',
 'White Teeth',
 'Smith, Zadie',
 '815,586',
 'Penguin',
 'General & Literary Fiction',
 '93',
 'House at Riverton,The',
 'Morton, Kate',
 '814,370',
 'Pan Macmillan',
 'General & Literary Fiction',
 '94',
 'Book Thief,The',
 'Zusak, Markus',
 '809,641',
 'Transworld',
 'General & Literary Fiction',
 '95',
 'Nights of Rain and Stars',
 'Binchy, Maeve',
 '808,900',
 'Orion',
 'General & Literary Fiction',
 '96',
 'Ghost,The',
 'Harris, Robert',
 '807,311',
 'Random House',
 'General & Literary Fiction',
 '97',
 'Happy Days with the Naked Chef',
 'Oliver, Jamie',
 '794,201',
 'Penguin',
 'Food & Drink: General',
 '98',
 'Hunger Games,The:Hunger Games Trilogy',
 'Collins, Suzanne',
 '792,187',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '99',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 'Pelzer, Dave',
 '791,507',
 'Orion',
 'Biography: General',
 '100',
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours",
 'Oliver, Jamie',
 '791,095',
 'Penguin',
 'Food & Drink: General']

In [21]:
Index=[]
Title=[]
Author=[]
VolumeSales=[]
Publisher=[]
Genre=[]

#Index
for i in range(0,len(Lists),6):
    try:
        Index.append(Lists[i])
    except NoSuchElementException:
        Index.append('-')

        
#Title
for i in range(1,len(Lists),6):
    try:
        Title.append(Lists[i])
    except NoSuchElementException:
        Title.append('-')    

#Author
for i in range(2,len(Lists),6):
    Author.append(Lists[i])

    
#VolumeSales
try:
    for i in range(3,len(Lists),6):
        VolumeSales.append(Lists[i])
except NoSuchElementException:
        VolumeSales.append('-')

#Publisher
try:
    for i in range(4,len(Lists),6):
        Publisher.append(Lists[i])
except NoSuchElementException:
        Publisher.append('-')
        
#Genre
try:
    for i in range(5,len(Lists),6):
        Genre.append(Lists[i])
except NoSuchElementException:
        Genre.append('-')
   

df=pd.DataFrame({'Index':Index,'Title':Title,'Author':Author,'VolumeSales':VolumeSales,'Publisher':Publisher,'Genre':Genre})
df

,Index,Title,Author,VolumeSales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question 9

Scrape the details most watched tv series of all time from imdb.com.

 Url = https://www.imdb.com/list/ls095964455/
 
You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [24]:
# opning ibmd.com
driver.get(' https://www.imdb.com/list/ls095964455/')
time.sleep(3)

In [27]:
Name=[]
Range_Year=[]
RunTime=[]
StarRating=[]
Genre=[]


#Name
name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']//a")
for i in name:
    try:
        Name.append(i.text)
    except NoSuchElementException:
        Name.append('-')  
        

#scrapping range
Lists1=[]
lists1=driver.find_elements_by_xpath("//h3[@class='lister-item-header']//span")
for i in lists1:
    try:
        Lists1.append(i.text.split())
    except NoSuchElementException:
        Lists1.append('-')        

try:
    for i in range(1,len(Lists1),2):
        Range_Year.append(Lists1[i])
except NoSuchElementException:
        Range_Year.append('-')
        
#Genre
genre=driver.find_elements_by_xpath("//span[@class='genre']")
for i in genre:
    try:
        Genre.append(i.text)
    except NoSuchElementException:
        Genre.append('-') 

#RunTime
runTime=driver.find_elements_by_xpath("//span[@class='runtime']")
for i in runTime:
    try:
        RunTime.append(i.text)
    except NoSuchElementException:
        RunTime.append('-') 
        
#RunTime
starRating=driver.find_elements_by_xpath("//span[@class='ipl-rating-star__star']//span")
for i in runTime:
    try:
        StarRating.append(i.text)
    except NoSuchElementException:
        StarRating.append('-')

In [45]:
print("length of Name",len(Name))
print("length of Range_Year",len(Range_Year))
print("length of Genre",len(Genre))
print("length of RunTime",len(RunTime))

length of Name 100
length of Range_Year 100
length of Genre 100
length of RunTime 100

In [47]:
df=pd.DataFrame({'Name':Name,'Year Span':Range_Year,'Genre':Genre,'RunTime':RunTime})
df

,Name,Year Span,Genre,RunTime
0,Game of Thrones,[(2011–2019)],"Action, Adventure, Drama",57 min
1,Stranger Things,"[(2016–, )]","Drama, Fantasy, Horror",51 min
2,The Walking Dead,[(2010–2022)],"Drama, Horror, Thriller",44 min
3,13 Reasons Why,[(2017–2020)],"Drama, Mystery, Thriller",60 min
4,The 100,[(2014–2020)],"Drama, Mystery, Sci-Fi",43 min
...,...,...,...,...
95,Reign,[(2013–2017)],"Drama, Fantasy",42 min
96,A Series of Unfortunate Events,[(2017–2019)],"Adventure, Comedy, Drama",50 min
97,Criminal Minds,[(2005–2020)],"Crime, Drama, Mystery",42 min
98,Scream: The TV Series,[(2015–2019)],"Comedy, Crime, Drama",45 min
99,The Haunting of Hill House,[(2018)],"Drama, Horror, Mystery",572 min

# Question 10

Details of Datasets from UCI machine learning repositories.

 Url = https://archive.ics.uci.edu/
 
 You have to find the following details:
 
A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [3]:
# opning archive.ics.uci.edu
driver.get('https://archive.ics.uci.edu/')
time.sleep(3)

In [4]:
# clicking the view all dataset
search_button=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
search_button.click()
time.sleep(4)

In [12]:
#getting into the second tr 
#scrapping range
Lists=[]
list=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]")
list

In [13]:
Name=[]
Datatype=[]
DefaultTask=[]
AttributeTypes=[]

for i in list:
    try:
        Lists.append(i.text.split())
    except NoSuchElementException:
        Lists.append('-') 
        
for i in range(0,len(Lists),6):
        Name.append(Lists[i])
        
for i in range(1,len(Lists),6):
        Datatype.append(Lists[i])
        
for i in range(2,len(Lists),6):
        DefaultTask.append(Lists[i])
        
for i in range(3,len(Lists),6):
        Datatype.append(Lists[i])
        
for i in range(4,len(Lists),6):
        Datatype.append(Lists[i])